.news-grid{
  margin-bottom: 30px;
  .border-for-slick{
    border: none;
  }
  @media screen and (min-width: 901px) {
    .border-for-slick {
      width: calc((100% - 60px) / 3.001);
      margin: 0 20px 20px 0 !important;

      &:nth-of-type(3n) {
        margin: 0 0px 20px 0px !important;
      }
    }
  }
  @media screen and (max-width: 900px) and (min-width: 551px) {
    .border-for-slick {
      width: calc((100% - 40px) / 2.001);
      margin: 0 20px 20px 0 !important;

      &:nth-of-type(2n) {
        margin: 0 0px 20px 0px !important;
      }
    }
  }  @media screen and (max-width: 550px) {
    .border-for-slick {
      width: 100%;
      margin: 0 0 20px 0 !important;
    }
  }
}

