// Fonts
.hero-wrapper {
  .hero-title {
    font-size: 64px;
    line-height: 74px;
    margin-bottom: 20px;
  }

  * {
    color: #fff !important;
  }

}

// Fonts END


.top-semiopacity {
  margin-top: 205px;
  margin-bottom: 290px;

  p {
    font-family: sourceSansPro-regular;
    font-size: 28px;
    line-height: 36px;
    color: #fff;
  }
}

.semiopacity-main-wrapper {
  margin-bottom: 42px;
  min-height: 745px;

  .semiopacity-image {
    min-height: 745px;
    z-index: -1;
    overflow: hidden;

    img {
      z-index: -1;
    }

    .semiopacity-layer {
      z-index: -1;
      background-color: rgba(10, 69, 35, 0.0);
      // background-color: rgba(10, 69, 35, 0.36);
    }

    .top-semiopacity {
      h1 {
        color: #fff;
      }

      p {
        color: #000;
      }
    }
  }

  .fly-over-wrapper {
    z-index: 3;
    margin-top: -200px;
    min-height: 390px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    img, h2 {
      margin-bottom: 40px;
    }

    img {
      height: 123px;
      width: 100%;
      max-width: 180px;
      object-fit: contain;
    }

    h2 {
      font-family: bitter-semibold;
      color: #fff;
      font-size: 44px;
      line-height: 53px;
    }

    .single-side {
      padding: 40px 20px;

      &:first-of-type {
        border-right: 1px solid rgba(0, 145, 63, 0.3);
      }
    }
  }

  @media screen and (max-width: 1024px) {
    margin-bottom: 35px;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
}


//   -----------
.slick-prev, .slick-next {
  &:before {
    content: none;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  width: 46px;
  background-color: #00923F;

  &:hover {
    background-color: #00923F;

    svg {
      fill: #B2B2B2;
    }
  }
}

.slick-initialized .slick-slide {
  padding: 0px 10px;
}

.slick-prev {
  margin-left: -39px;
}

.slick-next {
  margin-right: -39px;
}

@media screen and (max-width: 1400px) and (min-width: 767px) {
  .slick-prev {
    margin-left: -10px;
  }
  .slick-next {
    margin-right: -10px;
  }
  .background-image-slider {
    padding: 0px 50px
  }
}




// black-arrows USED WHEN WHITE BACKGROUND


@media screen and (max-width: 901px) {
  .hero-wrapper .hero-title {
    font-size: 40px;
    line-height: 54px;
  }
  .top-semiopacity {
    margin-top: 125px;
    margin-bottom: 240px;

    p {
      font-size: 25px;
      line-height: 33px;
    }
  }
  .semiopacity-main-wrapper .semiopacity-image, .semiopacity-main-wrapper {
    min-height: unset;
  }

  .semiopacity-main-wrapper .fly-over-wrapper img {
    height: 84px;
    max-width: 150px;
  }
  .semiopacity-main-wrapper .fly-over-wrapper {
    min-height: unset;

    .single-side {
      padding: 30px 20px;
    }

    h2 {
      margin-bottom: 20px;
      font-size: 34px;
      line-height: 41px;
    }
  }
}

@media screen and (max-width: 767px) {
  .hero-wrapper .hero-title {
    font-size: 28px;
    line-height: 32px;
  }
  .top-semiopacity p {
    font-size: 16px;
    line-height: 20px;
  }
  .semiopacity-main-wrapper .fly-over-wrapper {
    flex-direction: column;
    background-repeat: repeat;
    padding: 0px;

    .single-side:first-of-type {
      border-right: none;
      border-bottom: 1px solid rgba(0, 145, 63, 0.3);
    }
  }
}

//INNER PAGES
.page-content {
  margin-bottom: 50px;

  .semiopacity-main-wrapper {
    min-height: auto;
    margin-bottom: 50px;

    .semiopacity-image {
      min-height: 489px;
    }
  }

  .top-semiopacity {
    margin-bottom: 50px;
  }

  @media screen and (max-width: 901px) {
    margin-bottom: 30px;
    .semiopacity-main-wrapper .semiopacity-image, .semiopacity-main-wrapper {
      min-height: 300px;

    }
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
    .semiopacity-main-wrapper {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 767px) {
  .multiple-items  .slick-track{
    margin-left: 50px;
  }
}
@media screen and (max-width: 767px) {
  .multiple-items  .slick-track{
    margin-left: 30px;
  }
}
//INNER PAGES END