.background-image-slider{
  height: 857px;
  margin-top: -195px;
  padding-top: calc(195px + 52px)
}

.single-slider-element{
  border: 1px solid #F4F4F4;
  overflow: hidden;
  img{
    width: 100%;
    height: 100%;
    max-height: 288px;
  }
}

.border-for-slick{
  border: 1px solid #F4F4F4;
}

.absolute-cover-img, .darkness-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  @include transition-time(.2s)
}


.text-wrapper{
  padding: 30px 30px 17px 30px;
  background-color: #fff;
  @include transition-time(.2s);
  .date{
    color: rgba(56, 56, 56, 0.54);
    font-size: 18px;
    margin-bottom: 12px;
    @include transition-time(.2s);
  }
  h2{
    font-family: bitter-semibold;
    font-size: 24px;
    color: #383838;
    max-width: 220px;
    margin-bottom: 10px;

  }
  .read-more{
    color: #00923F;
    font-size: 18px;
    font-family: sourceSansPro-bold;
    display: flex;
    align-items: center;
    @include transition-time(.2s);
    svg{
      margin-left: 20px;
      fill: #00923F;
      @include transition-time(.2s);
    }
  }
}
.border-for-slick:hover{
  .text-wrapper{
    background-color: #00923F;
  }
  .date, h2, .read-more, .read-more svg{
    color: #fff;
    fill: #fff;
  }
  width: 100%;
  max-width: 500px;

}

@media screen and (max-width: 767px){

  //  FONTS
  .text-wrapper {
    padding: 20px 20px 30px 20px;
    .date{
      font-size: 13px;
      line-height: 17px;
      margin-bottom: 12px;
    }
    h2{
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 16px;
    }
    .read-more{
      font-size: 13px;
      line-height: 17px;
    }

  }
  //  FONTS END
}
