.assortment {
  margin-bottom: 60px;
  //top
  .top-title-wrapper {
    margin-bottom: 20px;
    .main-title-h2{
      margin-right: 20px;
    }
    p{
      font-size: 20px;
      line-height: 25px;
    }

  }



  .top-wrapper{
    p{
      font-size: 20px;
      line-height: 25px;
    }

    .grey-container-assortment{
      background-color: #F8F8F8;
      padding: 30px;
      margin:25px 0px 20px 0px;

      p {
        line-height: 34px;
        a {
          position: relative;
          color: #00923F;
          font-family: sourceSansPro-semibold;
          @include underline-hover-left(#00923F);
        }
      }
    }

    .border-bottom{
      padding-bottom: 30px;
      margin-bottom: 30px;
    }
    .excel-download{
      p{
        font-size: 18px;
        margin-right: 20px;
      }
      a img{
        height: 34px;
        width: 34px;
        object-fit: contain;
      }
    }
  }
  //top END

  // TABLE FILTRATION
  .table-filtration{
    margin-bottom: 20px;
  }
  //abc Wrapper
  .abc-wrapper{
    width: 100%;
    max-width: 430px;
      a{
        font-family: sourceSansPro-semibold;
        font-size: 18px;
        padding: 5px;
        height: 32px;
        width: 31px;
        margin: 1px;
        text-align: center;
        background-color: #00923F;
        border: 2px solid #00923F;
        color: #fff;
        &:hover{
          background-color: #fff;
          border: 2px solid #00923F;
          color: #00923F;
        }
      }
  }
  //abc Wrapper END

  //search window
    .search-window-wrapper{
      .search-window{
        height: 40px;

      }

      .checkbox-single{
        margin-right: 20px;
        margin-bottom: 0px;
      }
      input{
        font-size: 18px;
        padding: 10px;
        border: 1px solid #E2E2E2;
      }

    }

  //search window END


  // TABLE FILTRATION END

}

.assortment-table, .pagination-wrapper{
  margin-bottom: 50px;
}


.assortment {
  @media screen and (max-width: 767px) {
     .top-title-wrapper .main-title-h2{
      margin-bottom: 20px;
      margin-right: 0px;
    }
    .top-wrapper .grey-container-assortment{
      padding: 20px;
      margin: 20px 0px 20px 0px;
    }
    .top-title-wrapper, .table-filtration{
      flex-direction: column;
    }
    .table-filtration {
      .abc-wrapper {
        margin-bottom: 20px;
      }
    }

    .assortment-table, .pagination-wrapper{
      margin-bottom: 30px;

    }
    .flex-wrap-mobile{
      flex-wrap: wrap;

      .checkbox-single{
        margin-left: 0px;
        margin-bottom: 15px;
      }
    }
    .excel-download{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
     .top-wrapper .border-bottom{
       padding-bottom: 20px;
       margin-bottom: 20px;
     }
  }

  @media screen and (max-width: 300px) {
     .search-window-wrapper .search-window{
      height: unset;
      flex-direction: column;
      width: 100%;
      input{
        margin-bottom: 20px;
        width: 100%;
        max-width: 100%;
      }
      a{
        margin-left: 0px;
        width: 100%;
      }
    }
  }
}