.assortment-table {

  font-size: 18px;
  color: #383838;
  //top line

  th {
    background-color: #00923F;
    color: #fff;
    text-align: center;
    padding: 17px 10px;
    font-weight: normal;
    &:not(&:last-of-type) {
      border-right: 1px solid rgba(238, 238, 238, 0.08);
    }
  }

  //top line
  tr, td {
    border: 1px solid #EDEDED;
    padding: 20px 0px
  }

  tr{

  th:first-of-type {
    text-align: center;
    width: 70px;
  }

    th:nth-of-type(2) {
    width: 303px;
    min-width: 303px;
    max-width: 303px;
  }

    th:nth-of-type(3) {
      width: 120px;
      min-width: 120px;
      max-width: 120px;
    }
    th:nth-of-type(4) {
      width: 175px;
      min-width: 175px;
      max-width: 175px;
    }
    th:nth-of-type(5) {
      width: 123px;
      min-width: 123px;
      max-width: 123px;
    }
    th:nth-of-type(6) {
      width: 127px;
      min-width: 127px;
      max-width: 127px;
    }

    th:nth-of-type(7) {
      width: 147px;
      min-width: 147px;
      max-width: 147px;

    }

    td:not(&:nth-of-type(2)){
      text-align: center;
    }
  }

  .margin-table{
    padding: 14px 10px;
  }
  .margin-table-inputs{
    padding: 3px 5px;
     input{
       width: 100%;
       max-width: 127px;
     }
  }

  .black-line-more-pic{
    background-color: rgba(10, 10, 10, 0.72);
    color: #fff;
    font-size: 14px;
    text-align: center;
    width: 100%;
    bottom: 0px;
    min-height: 24px;
  }


  // extra icons
  .new{
    font-family: sourceSansPro-semibold;
    color: #DE2828;
    font-size: 20px;
    margin-bottom: 9px;
  }


  .less-than-10{
    background-color: #DDC796;

  }

  .amount-10-30{
    background-color: #FAF8DC;
  }

}

.table-image-wrapper{
  height: 91px;
  min-width: 129px;
  width: 129px;
  overflow: hidden;
  margin-right: 20px;
  img{
    max-width: 129px;
    height: 91px;
  }
}
.margin-r-20{
  margin-right: 20px;
}

//description about table simbols
.extra-information{
  .title-descriptions{
    margin-bottom: 30px;
    font-family: bitter-semibold;
    img{
      margin-right: 20px;
    }
  }
.table-description-wrapper {
  .single-element-table-description{
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .new-icon{
      margin-right: 15px;
      img{
        height: 21px;
        object-fit: contain;
      }
    }
    .bold{
      font-family: sourceSansPro-bold;
    }
  }
  .less-than-10{
    background-color: #DDC796;
    height: 25px;
    width: 25px;
  }

  .amount-10-30{
    background-color: #FAF8DC;
    height: 25px;
    width: 25px;
  }

}
}
//description about table simbols END

.assortment-table {
  @media screen and (max-width: 1180px) {

    font-size: 16px;

    tr, td{
      padding: 10px 0px;
    }
    tr {
      th:first-of-type {

        width: 40px;
      }

      td:nth-of-type(2) {
        .table-image-wrapper{
          margin: 0 auto 15px auto;
        }
        .d-flex:first-of-type{
          flex-direction: column;
          text-align: center!important;
          padding: 0px 10px

        }
      }

      th:nth-of-type(2) {
        width: 150px;
        min-width: 150px;
        max-width: 150px;

      }

      th:nth-of-type(3) {
        width: 110px;
        min-width: 110px;
        max-width: 110px;
      }
      th:nth-of-type(4) {
        width: 120px;
        min-width: 120px;
        max-width: 120px;
      }
      th:nth-of-type(5) {
        width: 80px;
        min-width: 80px;
        max-width: 80px;
      }
      th:nth-of-type(6) {
        width: 80px;
        min-width: 80px;
        max-width: 80px;
      }

      th:nth-of-type(7) {
        width: 177px;
        min-width: 177px;
        max-width: 177px;

      }

      td:not(&:nth-of-type(2)) {
        text-align: center;
      }
    }

  }
}

  @media screen and (max-width: 600px) {
    .table-description-wrapper{
      flex-direction: column;
    }
  }
