.basket {
  .main-title-h2 {
    margin-bottom: 20px;
  }

  .inline-group {
    max-width: 100px;

    margin: 0 auto
  }

  .inline-group .form-control {
    text-align: right;
  }

  .form-control[type="number"]::-webkit-inner-spin-button,
  .form-control[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .number-input {
    input:focus {
      box-shadow: none;
      border: none
    }

    input[type="number"] {
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      appearance: textfield;
      background-color: #EBEBEB;
      text-align: center;
      padding: 1px;
      border: none
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      background-color: #EBEBEB;
      text-align: center;
      padding: 1px;
      border: none
    }
  }

  .btn-plus, .btn-minus {
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
  }

  .table-wrapper-basket {
    margin-bottom: 30px;
    border-bottom: 1px solid #EDEDED;
  }

  table {
    .delete-item-from-basket {
      margin-right: 15px;
    }

    tr {
      th {
        border-top: 1px solid #EDEDED;
        border-bottom: 1px solid #EDEDED;
        font-size: 16px;
        font-weight: normal;
        padding: 10px;
        min-width: 150px;

        &:nth-of-type(1) {
          width: 368px;
        }

        &:nth-of-type(2) {
          width: 80px !important;
        }

      }

      td {
        border-bottom: 1px solid #EDEDED;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 18px;
      }
    }
  }


  .grey-total-container {
    background-color: #F0F0F0;
    padding: 14px;

    div {
      font-size: 18px;
      line-height: 25px;
      font-family: sourceSansPro-semibold;
      margin-right: 20px;

      span {
        color: #00923F;
      }
    }
  }


  form .single-input {
    background-color: #fff;

    input {
      border: none !important;
      padding: 0px;
    }
  }

  form .single-input {
    padding: 9px 20px;
  }

  .legal-person-radio {


    .checkbox-single .checkbox-back .checkbox-mark {
      opacity: 1;
      background-color: #fff;
    }

    .checkbox-single .checkbox-back {
      min-width: 100% !important;
      height: 50px !important;
      font-family: sourceSansPro-regular !important;
    }

    .checkbox-single {
      margin-left: 0px;

      &:last-of-type {
        margin-left: 20px;
      }

      .checkbox-back {
        margin-right: 0px;

        .checkbox-mark {
          background: #fff !important;
          opacity: 1;

          .checkbox-title {
            font-family: sourceSansPro-regular;
          }
        }
      }

      input {
        left: -9999px;

        &:checked ~ .checkbox-label {
          .checkbox-back {
            border: transparent !important;

            .checkbox-mark {
              opacity: 1;
              background: #00923F !important;

              .checkbox-title {
                color: #fff !important;
                font-family: sourceSansPro-semibold;
              }
            }
          }
        }
      }
    }

  }

  .checkbox-single {
    margin-left: 0px;
  }

  form textarea {
    min-height: 190px;
  }

  .spec-order-form-wrapper {
    max-width: 934px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;

    h2 {
      font-size: 24px;
      margin-bottom: 30px;
    }
  }

  .left-form-part {
    margin-right: 35px;
  }


  @media screen and (max-width: 780px) {
    .grey-total-container {
      flex-direction: column;
      align-items: flex-end;
    }

  }
  @media screen and (max-width: 767px) {
    .spec-order-form-wrapper{
      flex-direction: column;
    }

    .spec-order-form-wrapper h2{
      font-size: 20px;
    }
  }
  @media screen and (max-width: 600px) {
     form .single-input {
      padding: 10px;
      margin-bottom: 20px;
    }
  }

}