.about-us{
  .page-content {
    margin-bottom: 0px;
  }

  .wysiwyg-style {

    & > p {
      color: #383838;
      font-family: sourceSansPro-regular;
      font-size: 20px;
      font-style: normal;
      letter-spacing: normal;
      line-height: 34px;
      margin-bottom: 20px;

      &:last-of-type {
        margin-bottom: 20px;
      }

      @media screen and (max-width: 767px) {
        margin-bottom: 25px;
      }
      strong {
        font-family: sourceSansPro-regular;
        font-size: 26px;
        line-height: 37px;
      }
    }
    & > ul {
      li {
        font-family: sourceSansPro-regular;
        color: #383838;
        font-size: 20px;
        line-height: 36px;
        display: table;
        position: relative;
        padding-left: 21px;
        background-size: 5px;
        background-position: 1px 17px;
        stron, a {
          font-family: sourceSansPro-bold;
        }
      }
    }
    & > h2, & > h3 {
      color: #00923F;
      transition: all .2s linear;

      & > h2 {
        color: #00923F;
      }

      & > h3 {
        color: #00923F;
      }


    }
  }


}


.white-container, .grey-container{
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
}


.grey-container{
  background-color: #F8F8F8;
}
@media screen and (max-width: 767px) {

  .white-container, .grey-container{
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
  }
}