// LINKS/BUTTONS/INPUTS
a {
  @include transition-time(.2s);
  color: #000;
  &:hover {
    color: #000;
    text-decoration: none;
  }
  &:focus {
    outline: none;
  }
  &:before, &:after {
    transition: all .2s linear;
  }
}

button, button:focus {
  border: none !important;
  outline: none !important;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
}
input, textarea, button {
  transition: all .2s linear;
  &:focus {
    outline: none;
  }
}

a, button {
  outline: none !important;
}
a, button, input[type="submit"] input[type="button"] {
  cursor: pointer !important;
}
input {
  &:focus {
    cursor: text;
  }
}


.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  margin-right: 10px;

  //sizes
  padding: 14px 56px;
  min-height: 50px;

  //fonts
  font-size:16px;
  line-height: 20px;
  font-family: sourceSansPro-bold;
  color: #fff;


  //visual
  background-color: #00923F;
  border: 1px solid #00923F;
  &:last-of-type {
    margin-right: 0px;
  }
  &:hover{
    background-color: #00923F;
    color: #fff;
  }
  @media screen and (max-width: 767px) {
    font-size: 13px;
    padding: 12px 23px;
    line-height: 21px;
  }
}

.search-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00923F;
    padding: 10px;
    margin-left: 30px;
    border: 2px solid #00923F;
  svg{
    height: 20px;
    width: 20px;
    object-fit: contain;
    fill: #fff;
    transition: all linear .2s;
  }
  &:hover{
      background-color: #fff;
    svg{
      fill: #00923F!important;
    }
  }
}

