@use 'helper';
//page heights nad wrappers
html, body {
  margin: 0px !important;
  padding: 0px !important;
  height: 100% !important;
  width: 100% !important;
  font-family: sourceSansPro-regular;



  h1, h2 {
    font-family: bitter-semibold;
  }
}

textarea:focus, input:focus{
  outline: none;
}
html {
  scroll-behavior: smooth;
}
.content-wrapper{
  width: 100%;
  max-width: 1260px;
  padding: 0px 20px;
  margin: 0 auto;
}

.green-color{
  color: #00923F!important;
}
.red-color{
  color: #DB2727 !important;
}


// if used on 4K screens footer will be on bottom not at the page center
.default-page-min-height {
  min-height: calc(100vh - 400px);
}
//min-height for small pages like
// if used on 4K screens footer will be on bottom not at the page center
.default-page-min-height-small {
  min-height: calc(100vh - 380px);
}
//inner pages margin-top


//rewrites bootstrap
p { margin-bottom: 0px; }
a > p { @include transition-time(.2s); }

// common fonts
img { object-fit: cover; }
.contain { object-fit: contain; }
// Preloader
.preloader {
  display: none;
  max-width: 30px;
  max-height: 30px;
  top: calc(50% + 14px);
  left: auto;
  right: calc(100% - 295px);
  -webkit-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite;
}
.transition-default {
  transition: all .2s linear;
  &:hover {
    transition: all .2s linear;
  }
}
.backface-hidden {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

// WYSIWYG STYLES
.wysiwyg-style{
  .alignright{
    float: right!important;
    width: 40% !important;
    margin-left: 55px;
  }
  .alignleft{
    float: left!important;
    width: 40% !important;
    margin-right: 55px;
  }
  //paragraph default in all pages
  & > img {
    width: 100%;
    height: auto;
    max-height: 589px;
    object-fit: cover;
    margin-bottom: 40px;
  }

  & > p {
    color: #383838;
    font-family: sourceSansPro-regular;
    font-size: 16px;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    margin-bottom: 26px;

    &:last-of-type{
      margin-bottom: 40px;
    }
    @media screen and (max-width: 767px) {
      margin-bottom: 25px;
    }
    strong{
      font-family: sourceSansPro-bold;
      font-size: 26px;
      line-height: 37px;
    }
    a:not(.default-button) {
      font-family: sourceSansPro-bold;
      @include transition-time(.2s);
      position: relative;
      @include underline-hover-left(#383838);
      color: #383838;
      &:hover {
        color: #383838;
        text-decoration: none;
      }

    }
    img {
      width: 100%;
      height: auto;
      max-height: 750px;
      object-fit: cover;
      margin-bottom: 10px;
    }
  }
  & > ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    li {
      font-family: sourceSansPro-regular;
      color: #383838;
      font-size: 16px;
      line-height: 36px;
      display: table;
      position: relative;
      padding-left: 21px;
      background-image: url("../../images/icons/list-icon.svg");
      background-repeat: no-repeat;
      background-size: 5px;
      background-position: 1px 17px;
      stron, a {
        font-family: sourceSansPro-bold;
      }
    }
  }

  & > h2, & > h3 {
    color: #383838;
    transition: all .2s linear;

    a {
      font-family: sourceSansPro-bold;
      &:hover {
        color: #383838;
      }
    }
  }

  & > h2 {
    color: #383838;
    font-family: bitter-semibold;
    font-size: 34px;
    line-height: 44px;
    margin-bottom: 30px;
  }

  & > h3 {
    color: #383838;
    font-family: sourceSansPro-bold;
    font-size: 25px;
    letter-spacing: normal;
    line-height: 35px;
    margin-bottom: 5px;
  }

  & > h4 {
    font-family: sourceSansPro-regular;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1.5px;
    line-height: normal;
    color: #383838;
    margin-bottom: 25px;
  }

  & > p {
    & + ul {
      margin-top: 20px;
    }
  }
  & > h2 {
    & + ul {
      margin-top: -10px;
    }
  }
  .wysiwyg-table-wrapper {
    overflow: hidden;
    overflow-x: auto;
    margin: 0 auto 45px;
    &::-webkit-scrollbar {
      height: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #383838;
      border-radius: 0px;
    }
    table {
      margin: 0;
    }
  }


  @media screen and (max-width: 1024px) {
    & > ul li, p{
      font-size: 16px;
      line-height: 30px;
    }
  }

  @media screen and (max-width: 767px) {
    .alignright{
      width: 100%!important;
      float: unset!important;
      margin-left: 0px;
      max-height: 400px;
    }
    .alignleft{
      width: 100%!important;
      float: unset!important;
      margin-right: 0px;
      max-height: 400px;
    }
  }
}
// WYSIWYG STYLES


.video-wysiwyg {
  position: relative;
  overflow: hidden;
  margin-bottom: 48px;
  &:before {
    content: "";
    display: block;
    padding-top: 56.5%;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
//gallery
.wysiwyg-gallery {
  .single-gallery-element {
    width: calc((100% - 40px) / 3.001);
    margin: 0px 10px 10px;
    transition: all .2s linear;
    transform: perspective(1000px);
    -webkit-transform: perspective(1000px);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    perspective: 1000px;
    -webkit-perspective: 1000px;

    &:nth-of-type(1) {
      margin: 0px 10px 10px 0 !important;

    }
    &:nth-of-type(4) {
      margin: 0px 0px 10px 10px !important;
    }
    &:before {
      content: "";
      display: block;
      padding-top: 88%;
    }
    .gallery-image, .darkness-effect {
      top: 0;
      left: 0;
      object-fit: cover;
    }
    .gallery-image {
      max-height: 289px;
      max-width: 100%;
    }
    .darkness-effect {
      background-color: #000;
      opacity: 62%;
      max-height: 289px !important;
    }
    .number-additional {
      bottom: 18px;
      right: 20px;
      color: #fff;
      font-size: 18px;
      font-family: sourceSansPro-bold;
    }
    &:hover {
      transition: all .2s linear;
      transform: translateY(-5px) perspective(1000px);
      -webkit-transform: translateY(-5px) perspective(1000px);
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      perspective: 1000px;
      -webkit-perspective: 1000px;
    }
  }
}
// Main title h2 or h1
.main-title{
  color: #000;
  font-family: bitter-semibold;
  font-size: 58px;
  //line-height: ;
  margin-bottom: 67px;
  line-height: 71px;

  letter-spacing: 0px;

 

  @media screen and (max-width: 767px) {
    font-size: 28px !important;
    line-height: 33px!important;
    margin: 0 auto 29px auto;

  }
}

.main-title-w-decor{
  margin-bottom: 50px;
  font-family: bitter-semibold;
  font-size: 34px;
  line-height: 41px;
  color: #383838;
  padding: 0px 113px;
  background: url("../../images/icons/title-decor-l.svg") left center no-repeat, url("../../images/icons/title-decor-r.svg")  right center no-repeat;
  @media screen and (max-width: 767px) {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 30px;
  }

}
.main-title-h2{
  font-family: bitter-semibold;
  font-size: 34px;
  line-height: 41px;
  @media screen and (max-width: 767px) {
    font-size: 24px;
    line-height: 28px;
  }
}


//modal
.video-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.video-container::after {
  padding-top: 45%;
  display: block;
  content: '';
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
// wysyvig gallery
@media screen and (max-width: 950px) {
  .wysiwyg-gallery .single-gallery-element {
    width: calc((100% - 60px) / 4.001);
    margin: 0 20px 20px 0;
  }
  .video-wysiwyg {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .wysiwyg-gallery {
    margin: 15px auto;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: start !important;
    .single-gallery-element {
      margin: 0px 20px 20px 0px;
      &:nth-of-type(1) {
        margin: 0px 20px 20px 0px!important;
      }
      &:nth-of-type(4n) {
        margin: 0px 0px 20px 0px !important;
      }
    }
  }
}
@media screen and (max-width: 650px) and (min-width: 100px) {
  .wysiwyg-gallery .single-gallery-element {
    width: calc((100% - 20px) / 2.001) !important;
    margin: 0 20px 20px 0 !important;
    &:nth-of-type(2n) {
      margin: 0px 0 20px 0 !important;
    }
  }
}
@media screen and (max-width: 500px) and (min-width: 100px) {
  .wysiwyg-gallery .single-gallery-element {
    width: 100% !important;
    margin: 0 0 20px !important;
    &:nth-of-type(1) {
      margin: 0px 0px 20px 0 !important;
    }
    &:nth-of-type(4) {
      margin: 0px 0 20px 0px !important;
    }
  }
}
//END wysyvig gallery
.gallery {
  @media screen and (min-width: 1224px) {
    .images-wrapper .single-image {
      width: calc((100% - 120px) / 4.001);
      margin: 0px 40px 37px 0;
    }
  }
  @media screen and (max-width: 1224px) and (min-width: 768px) {
    .images-wrapper .element-image {
      margin-bottom: 26px;
    }
  }
  @media screen and (max-width: 767px) and (min-width: 576px) {
    .images-wrapper .single-image {
      width: 100%;
      margin: 0 30px 30px 0;
    }
  }
}


@media screen and (max-width: 767px) {
  // SOME COMMON THINGS
  body {
    font-size: 14px;
  }

  .default-page-min-height {
    min-height: calc(100vh - 443px - 100px);
  }

  // -----------------------------------------------------

  // WYSIWYG STYLES
  .wysiwyg-style {

    & > p{
      font-size: 14px;
      line-height: 20px;
      strong{
        font-size: 16px;
        line-height: 22px;
      }
    }

    & > img {
      margin-bottom: 30px;
    }
    & > p {
      font-size: 14px;
      margin-bottom: 20px;
      img {
        margin-bottom: 10px;
      }
    }
    & > ul {
      margin-bottom: 20px;
      li {
        line-height: 25px;
        background-position: 0 7px;
      }
    }
    & > h2 {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 15px;
    }
    & > h3 {
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 10px;
    }
    & > p {
      & + ul {
        margin-top: -20px;
      }
    }
    .wysiwyg-table-wrapper {
      margin: 0 auto 30px;
    }


  }
  // -----------------------------------------------------
}
.date-created-post{
  font-family: sourceSansPro-regular;
  font-size:  18px;
  line-height: 23px;
  color: #383838;
  opacity: 54%;
  float: right;
  margin-top: 12px;
}

.green-title{
  color: #00923F;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none!important;
  margin: 0!important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield !important;
}
// Checkbox

.checkbox-single {
  font-size: 0;
  margin-bottom: 10px;
  margin-left: 21px;
  .checkbox-title {
    font-family: sourceSansPro-semibold;
    font-size: 18px!important;
    cursor: pointer;
    color: #383838;
    a {
      position: relative;
      color: #383838;
      text-decoration: none;
      font-size: 16px !important;
      //@include underline-hover-left(#383838);
      @include text-underline(#383838);
      @include transition-time(.2s);
      &:hover{
        color: #383838;
        @include text-underline(#383838);
      }
    }
  }
  .checkbox-back {
    width: 24px;
    height: 24px;
    border: 1px solid #DEDEDE;
    cursor: pointer;
    margin-right: 11px;
    transition: all 0.2s linear;
    overflow: hidden;
    background-color: #fff;
    .checkbox-mark {
      background: #00923F !important;
      width: 100%!important;
      height: 100% !important;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      opacity: 0;
      transition: all 0.1s linear;
      img {
        width: 11px;
      }
    }
  }
  input {
    left: -9999px;
    &:checked ~ .checkbox-label {
      .checkbox-back {
        border: transparent!important;
        .checkbox-mark {
          opacity: 1;
        }
      }
    }
  }
}



//  Checkbox END