@media screen and (min-width: 1025px){

  .mob-hide  {
    display: none !important;
  }
  .sidebar-content {
    display: flex !important;
  }
}
@media screen and (max-width: 1024px){
  .menu-button{
    margin-bottom: 20px;
    padding: 14px 20px;

    span{
      font-family: bitter-semibold;
      font-size: 18px;
      line-height: 22px;
    }

  }
  .dropdown-icon{
    margin-left: 10px;
    height: 18px;
    width: auto;
  }
}