.footer{
  .forest-footer{
    background-size: 100%;
    background-repeat: no-repeat;
    height: 250px;
    margin-top: 60px;
  }

  .footer-dark{
    background-color: #1F1F1F;
    padding: 40px 0px;
  }

  .top{
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.09);
    *{
      color: #B2B2B2;
      font-size: 18px;
      line-height: 34px;
    }
    h2{
      font-family: bitter-semibold;
      color: #fff;
      font-size: 22px;
      margin-block-end: 20px;
    }

    .flex-item-footer{
      width: 100%;
      &:not(:last-of-type){
        margin-right: 20px;
      }
    }
    .single-contact-info-footer{
      display: flex;
      align-items: center;
      padding-left: 52px;
      a{
        line-height: 23px;
        &:hover{
          color: #fff;
        }
      }
      &:not(:last-of-type){
        margin-bottom: 30px;
      }
      .green-wrapper-footer{
        background-color: #00923F;
        padding: 8px;
        left: 0px;
        top: calc(50% - 18px);
        height: 34px;
        width: 34px;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
          height: 20px;

          max-width: 20px;
          object-fit: contain;
        }
      }
    }
    .social-icons-footer a:not(:last-of-type){
      margin-right: 20px ;
    }
  }
  .developed-by-wrapper{
    ul{
    padding: 0px
  }
    a{
      display: flex;
    }
    .developer-by-logo{
      margin-left: 10px
    }
  }
  .bottom{
    padding-top: 40px;
    

    a{
      color: #B2B2B2;
    }
    
    ul {
        list-style: none;
        display: flex;
        align-items: center;
        margin-bottom: 0px;
      li {
        margin-right: 15px;
        a{
          font-size: 16px;
          line-height: 20px;
          &:hover{
            color: #fff;
          }
        }
      }
    }
    .green-title-footer{
      font-family: bitter-semibold;
      font-size: 28px;
      color: #00923F;
    }

    .developer-by-logo{
      img{
        height: 9px;
        width: 70px;
        object-fit: contain;
      }
    }
  }

//tree adjustment
  .forest-footer{
      @media screen and (max-width: 1190px) and (min-width: 934px) {
          height: 200px;
      }
      @media screen and (max-width: 933px) and (min-width: 768px) {
          height: 150px;
      }
    @media screen and (max-width: 767px) and (min-width: 401px) {
          height: 100px;
      }
    @media screen and (max-width: 400px) {
          height: 80px;
      }
  }
//tree adjustment

@media screen and (max-width: 901px) {
  .column-mobile-footer {
    flex-wrap: wrap;
    .mr-0{
       margin-left: 0!important;
       margin-right: auto!important;
       align-items: start!important;
     }
  }
  .flex-item-footer {
      margin-bottom: 30px;
  }
}

@media screen and (max-width: 900px) and (min-width: 768px)  {
  .column-mobile-footer .w-100{
    &:nth-of-type(2n),&:first-of-type {
      width: 45%!important;
    }
  }
}

@media screen and (max-width: 767px) {
  .forest-footer {
    margin-top: 40px;
  }
    .column-mobile-footer {
      flex-direction: column;
    }
  .footer-dark{
    padding: 20px 0px;
  }

   .bottom .green-title-footer{
     font-size: 24px;
     line-height: 28px;
     margin-bottom: 20px;
   }
  .bottom{
    flex-direction: column;
    padding-top: 30px;
    ul{
      padding-left: 0px;
    }
    .cookies {
        display: none;
    }
  }
  .top {
      padding-bottom: 0px;
  }

}
  @media screen and (max-width: 460px) {
    .forest-footer {
      height: 70px;
    }
  }
@media screen and (max-width: 300px) {
.forest-footer {
    height: 60px;
  }
}


//  footer END
}