
  form{
    .single-input{
      display: flex;
      border: 1px solid #E6E6E6;
      padding: 14px 20px;
      margin-bottom: 30px;

      label{
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
      }

      img{
        width: 16px;
        height: auto;
        max-height: 16px;
        object-fit: contain;
        margin-right: 20px;
      }
      input{
        border: transparent;
        border-left: 1px solid #E9E9E9;
        padding-left: 20px;
        font-size: 18px;
        line-height: 28px;
        color: #383838;
        width: 100%;
      }
    }

    textarea{
      border: 1px solid #E6E6E6;
      padding: 20px;
      width: 100%;
      font-size: 18px;
      line-height: 28px;
      color: #383838;
      min-height: 175px;
      margin-bottom: 30px;
    }

  }


  .warning-message{
    margin-top: 10px;
    font-family: Poppins-semibold;
    font-size: 16px;
    color: #c72828;
    visibility: hidden;
    opacity: 0;
    transition:  all .2s linear;
  }
  .warning-message-visible{
    display: flex!important;
    visibility: visible;
    opacity: 1;
  }
  .warning-validation {
    border: 1px solid #c72828 !important;
    input {
      &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: #c72828!important;
      }
      &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #c72828;
        opacity: 1;
      }
      &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #c72828 !important;
        opacity: 1;
      }
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #c72828!important;
      }
      &::-ms-input-placeholder { /* Microsoft Edge */
        color: #c72828!important;
      }
      &::placeholder { /* Most modern browsers support this now. */
        color: #c72828!important;
      }
    }
  }
  .success-submit-wrapper{
    display: none;
    visibility: hidden;
    height: 0px;
    width: 0px;
    .success-message{
      font-family: sourceSansPro-semibold;
      font-size: 18px;
      color: #008E00;
      opacity: 0;
      transition:  all .2s linear;
    }
  }
  .show-success-message{
    display: flex!important;
    visibility: visible!important;
    height: unset!important;
    width: unset !important;
    .success-message{
      margin-top: 10px;
      opacity: 1;
    }
  }
