.gallery-images-wrapper{
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;

  .single-gallery-image {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin: 0 auto;
    }


    @media screen and (min-width: 601px) {
      &:nth-of-type(4) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
      }

      &:nth-of-type(8) {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 4;
        height: 100%;
        max-height: 230px;
      }

      &:nth-of-type(7) {
        max-height: 230px;
      }

    }
  }
}

@media screen and (max-width: 1024px) {
  .d-flex-wrapper-gallery {
    flex-direction: column;
  }
}
@media screen and (max-width: 600px){


    .gallery-images-wrapper {
      margin-bottom: 30px;
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      grid-gap: 20px;
      .single-gallery-image {

        &:nth-last-of-type(1) {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 4;
          grid-row-end: 4;
        }
        &:nth-last-of-type(2) {
          grid-column-start: 1;
          grid-column-end: 3;
        }

      }
    }

}


@media screen and (max-width: 450px){

  .gallery-images-wrapper{
    display: flex;
    flex-direction: column;
    grid-gap: 0px;
    .single-gallery-image {
      margin-bottom: 20px;
      img{
      max-height:  350px;
      }
    }
  }

}

.small-gallery{
  .single-gallery-image {

    &:nth-of-type(4) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 2;
    }

    &:nth-of-type(8) {
      max-height: unset;
    }

    &:nth-of-type(7) {
      max-height: unset;
    }

  }
}