
.body-home-class{
  height: auto!important;
}

.mobile-header-wrapper {
  max-height: 120px;
  height: 100%;
}

.desktop-menu {
  margin: 0 20px 0 auto;
}
.body-home-class .navbar-header {
  background-color: transparent;
}

// Language
.menu .languages  ul li{
  margin: 0px!important;
}
.languages-desktop{
  margin-left: 50px;
}
// Language END



//logo and navbar
.main-info-desktop {
  display: flex;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 0px;
  margin-top: 0px;
  .logo {

    a {
      z-index: 999999999;
      overflow: visible;
      max-width: 150px;
      max-height: 82px;
      @include transition-time(.4s);
      img {
        @include transition-time(.4s);
        max-width: 150px;
        height: auto;
        max-height: 82px;
        object-fit: contain;
      }
    }
  }
}
//logo and navbar END

.navbar-header {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  position: fixed !important;
  top: 0px;
  left: 0px;
  justify-content: center;
  z-index: 1020 !important;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  // .header-content {
  //   min-height: 87px; // This value will be desktop header min-height
  // }
  .menu {
    width: 100%;
    display: flex;
    align-items: center;
    ul {
      margin-right: 5px;
      margin-left: 5px;
      margin-bottom: 0px;
      padding-left: 0px;
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      li {
        padding: 10px 30px 10px 10px;
        text-wrap: none;
        max-width: 250px;
        overflow-x: clip;
        text-overflow: ellipsis;
        display: flex;
        align-items: center;
        &:last-of-type {
          padding: 10px 0px 10px 10px;
        }
        a {
          font-family: bitter-semibold;
          color: #fff;
          font-size: 18px;
          line-height: 22px;
          font-style: normal;
          position: relative;
          text-align: left;
          text-transform: uppercase;
          text-overflow: ellipsis;
          white-space: nowrap;
          @include underline-hover-left(#fff);
        }
      }
    }
    .current-menu-item a {
      @include underline-left-active(#fff);
    }
  }
}

//NAVBAR SCROLL
.navbar-scroll {
  max-height: 147px;
  //optional shadow for scroll bar when white page to detect edge of navbar
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, .5);
  background-color: #1F1F1F !important;
}
//NAVBAR SCROLL END
.header-content {
  display: flex;
  flex-direction: row;
}
//BURGER STYLE original
//.collapsed {
//  .line {
//    position: static !important;
//    &:nth-child(1) {
//      transform: rotate(0deg) !important;
//      -webkit-transform: rotate(0deg) !important;
//      transition: all 0.2s linear !important;
//    }
//    &:nth-child(3) {
//      transform: rotate(0deg) !important;
//      -webkit-transform: rotate(0deg) !important;
//      transition: all 0.2s linear !important;
//    }
//    &:nth-child(2) {
//      width: 34px !important;
//      transition: all 0.2s linear !important;
//      margin: 0 auto 10px !important;
//    }
//  }
//}
// BURGER ANIMATION
.burger {
  height: 50px !important;
  width: 75px;
  border: none;
  background-color: transparent;
  position: relative;
  &:focus {
    outline: none;
  }
  .wrapper {
    width: 25px;
    .line {
      border-radius: 0px;
      left: 0;
      top: 0;
      height: 2px;
      width: 18px;
      margin-bottom: 10px;
      background-color: #fff;
      &:nth-child(1) {
        transform: rotate(140deg);
        -webkit-transform: rotate(140deg);
        transition: all 0.2s linear;
      }
      &:nth-child(3) {
        transform: rotate(-140deg);
        -webkit-transform: rotate(-140deg);
        transition: all 0.2s linear;
      }
      &:nth-child(2) {
        width: 0;
        margin: 0 auto 10px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
// BURGER ANIMATION END
// MOB BURGER
.mob-burger{
  margin: 0 0 0 10px;
  .collapsed {
    .line {
      position: static !important;
      border-radius: 5px!important;
      &:nth-child(1) {
        img {
          width: 15px;
          height: 13px;
          left: -2px;
          top: -4.8212px;
          position: absolute;
        }
        transform: rotate(0deg) !important;
        -webkit-transform: rotate(0deg) !important;
        transition: all 0.2s linear !important;
        width: 18px !important;
        margin-bottom: 7px !important;
      }
      &:nth-child(3) {
        transform: rotate(0deg) !important;
        -webkit-transform: rotate(0deg) !important;
        transition: all 0.2s linear !important;
        width: 18px !important;
      }
      &:nth-child(2) {
        width: 18px !important;
        transition: all 0.2s linear !important;

      }
    }
  }
  .burger {
    height: 67px !important;
    width: 18px;
    border: none;
    background-color: transparent;
    position: relative;
    &:focus {
      outline: none;
    }
    .wrapper {
      width: 18px;
      .line {
        border-radius: 5px;
        left: 0;
        top: 0;
        height: 2px;
        width: 18px;
        margin-bottom: 3px;
        background-color: #fff;
        &:nth-child(1) {
          transform: rotate(140deg);
          -webkit-transform: rotate(140deg);
          transition: all 0.2s linear;
        }
        &:nth-child(3) {
          transform: rotate(-140deg);
          -webkit-transform: rotate(-140deg);
          transition: all 0.2s linear;
        }
        &:nth-child(2) {
          width: 0;
          margin: 0 auto 7px;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

// NEW

@media screen and (max-width: 1700px) and (min-width: 901px) {
  .navbar-header {
    .menu .ul-wrapper ul {
      margin-left: 0px;
      margin-right: 00px;
      li {
        padding: 10px 10px 10px 10px;
      }
    }
  }
}


@media screen and (max-width: 1280px) and (min-width: 901px) {
  .navbar-scroll, .navbar-header {
    .menu {
      ul {
        li {
          padding: 10px 8px
        }
      }
    }
  }
  //making small logo
  .navbar-scroll .main-info-desktop, .main-info-desktop {
    .logo {
      width: 100px;
      a {
        max-width: 100px;
        max-height: 100px;
        overflow: visible;
        img {
          max-width: 100px;
          height: auto;
          max-height: 60px;
        }
      }
    }
  } //making small logo
}




@media screen and (max-width: 1153px) and (min-width: 767px) {
  .navbar-header {
    .menu .ul-wrapper ul {
      margin-left: 0px;
      margin-right: 0px;
      li {
        padding: 5px 5px 5px 5px;
      }
    }
  }
}
@media screen and (max-width: 975px) and (min-width: 901px) {
  .languages-desktop{
    margin-left: 10px;
  }
  .navbar-header .menu ul li a{
    font-size: 16px;
  }
}

//NAVBAR IN MOBILE SPACING DECREASE FOR NAV ITEMS
@media screen and (max-width: 1170px)  {
  .navbar-header .header-content {
    min-height: 70px;
  }
}
@media screen and (max-width: 900px) and (min-width: 1171px) {
  .navbar-header .menu ul li {
    margin: 10px;
  }
}

@media screen and (max-width: 1280px) and (min-width: 901px) {

  // Menu
  .navbar-scroll, .navbar-header {
    .menu {
      justify-content: start;
      ul {
        padding-left: 0px;
        margin-right: 10px;
      }
    }
  }
  //Menu END
}


//#######################-MOBILE-MENU-#############################
//NAVBAR MOBILE
//  #####-MIN-WIDTH!!!!!!
@media screen and (min-width: 901px) {
  .navbar-header {
    .header {
      display: block !important; // Always visible on Desktop
    }
    .mobile-header-wrapper {
      display: none !important;
    }
  }
  .mobile-wrapper .menu {
    display: none;
  }
}
//  #####-MIN-WIDTH!!!!!! END
//MOBILE ADJUSTMENTS
@media screen and (max-width: 900px) {

  // MOBILE
  .header {
    .logo {
      display: none !important;
    }
  }

  .mobile-logo-main {
    @include transition-time(.2s);
    margin-right: auto;
    overflow: visible;
    padding-right: 20px;
    z-index: 99999;
    img {
      @include transition-time(.2s);
      width: 100%;
      height: auto;
      max-width: 130px;
      max-height: 60px;
      object-fit: contain;
    }
  }

  //swipe functionality and background (MOBILE MENU)
  .mobile-menu-hidden {
    transform: translateX(100%) !important;
    -webkit-transform: translateX(100%) !important;
  }
  .mobile-background-hidden {
    visibility: hidden;
    opacity: 0;
  }
  .mobile-wrapper {
     background-color: rgba(000, 000, 00, 0.50);;
    width: 100%;
    max-width: 100%;
    height: 9999vh;
    top: 0;
    right: 0;
    z-index: 99999;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    overflow: auto;
    overflow-x: hidden;
  }
  .mobile-background {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 99998;
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    position: fixed !important;
  }
  // Menu style in opened menu
  .work-together-wrpapper{
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    .work-together{
      margin-right: 0px;
      margin-bottom: 18px;
    }
    .hero-button{
      font-family: sourceSansPro-bold;
      font-size: 13px;
      padding: 13px 33px;
      border: 2px solid #fff;
    }
  }
  .languages{
    margin: 20px 50px 20px 80px;
    width: 100%;
    max-width:  500px;
    .selectric-language-select{
      margin-right: 20px;
    }
  }
  .mobile-wrapper {
    .menu {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      overflow: auto;
      margin-top: 10px;
      ul:not( .languages ul) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        li {
          max-width: 520px;
          white-space: pre-wrap;
          padding: 0px;
          align-items: center;
          display: flex;
          a {
            font-family: sourceSansPro-bold;
            font-size: 19px;
            max-width: 520px;
            color: #fff;
            line-height: normal;
            margin-bottom: 30px;
            font-style: normal;
            letter-spacing: normal;
            white-space: pre-wrap;
            text-align: center;
          }
        }
      }
    }
  }
  .mob-burger .burger {
    height: 60px!important;
    width: 36px;
    z-index: 99999;
  }
}


//navbar height change
@media screen and (max-width: 900px) {
  .navbar-header {
    padding-top: 0px;
  }

}

@media screen and (max-width: 900px) {
  //mobile modal o r mobile menu do not allow overflow
  .modal-open-special {
    overflow: hidden !important;
  }

  .mobile-languages-cart{
    margin-bottom: 20px;
  }
  .navbar-header{
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 500px) {
  .mobile-wrapper {
    .menu ul {
      padding-left: 20px;
      li a {
        font-size: 20px;
      }
    }
    .language-social-wrapper{

      .languages {
        .selectric {
          max-width: 80px !important;
          text-align: left !important;

        }
      }

    }
  }
}

@media screen and (max-width: 350px) {
  .mobile-wrapper .menu ul li a {
    font-size: 16px;
  }
}
//navbar height change  END
.body-home-class {
  .top-navbar {
    height: 0px;
    .navbar-header {
      background-color: transparent;
    }
  }
}
@media screen and (max-width: 300px) {
  .mobile-wrapper .menu ul:not(.languages ul){
    padding-left: 0px
  }
  .extra-info-mobile{
    padding-left: 10px;
  }
}



//submenu style
.navbar-header .menu ul li{
  position: relative;

}
.navbar-header .menu ul li .sub-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  border: 1px solid #fff;
  border-top: none;
  background-color: #fff;
  box-shadow: 0 15px 16px 8pt rgba(0, 0, 0, 0.20 );
  top: 20px;
  left: 50%;
  transform: translate( -50%);
  max-width: max-content;
  width: max-content;
  padding: 10px;
  max-height: 0;
  transition: all 0.4s ease-in;
  overflow: hidden;
  li a{
    color: #212121;
    font-size: 16px;
    line-height: 19px;
  }

  opacity: 0;
  max-height: 1000px;
}
.navbar-header .menu ul li{
  overflow-y: hidden;
  transition: all 0.4s ease-in;
}
.navbar-header .menu ul li:hover{
  overflow: visible;
}

.navbar-header .menu ul li:hover .sub-menu {

  overflow: visible;
  opacity: 1;
}
.navbar-header .menu ul li .sub-menu:hover {
  max-height: 1000px;
}



.sub-menu {
  background: none repeat scroll 0 0 #fff;
  margin-top: 25px;
  padding: 0 0 0 10px;
  position: absolute;
  width: 125px;
  z-index: 999;
  border:solid #fff 1px;
  margin-left:-24px;
}

.sub-menu:after, .sub-menu:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.sub-menu:after {
  border-color: rgba(238, 238, 238, 0);
  border-bottom-color: #fff;
  border-width: 15px;
  margin-left: -15px;
}
.sub-menu:before {
  border-color: rgba(204, 204, 204, 0);
  border-bottom-color: #fff;
  border-width: 16px;
  margin-left: -16px;
}
//submenu style END