///* Fonts for ENG and LV */
@font-face {
  font-family: bitter-semibold;
  src: url("../fonts/Bitter-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: sourceSansPro-bold;
  src: url("../fonts/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family:  sourceSansPro-regular;
  src: url("../fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family:  sourceSansPro-semibold;
  src: url("../fonts/SourceSansPro-Semibold.ttf") format("truetype");
  font-weight: 400;
}

.sourceSansPro-bold{
  font-family: sourceSansPro-bold !important;
}
.sourceSansPro-semibold{
  font-family: sourceSansPro-semibold !important;
}
.sourceSansPro-regular{
  font-family: sourceSansPro-regula !important;
}

* {
  letter-spacing: normal;
  line-height: normal;
}
//rewrites bootstrap
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0px;
}
.overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
// animations

@mixin text-underline($color) {
  border-bottom: 1px solid $color;
}

@mixin placeholder-font-family($font-family) {
  &::-webkit-input-placeholder {
    font-family: $font-family;
  }
  &::-moz-placeholder {
    font-family: $font-family;
  }
  &:-moz-placeholder {
    font-family: $font-family;
  }
  &:-ms-input-placeholder {
    font-family: $font-family;
  }
}

@mixin placeholder-font-size($fz) {
  &::-webkit-input-placeholder {
    font-size: $fz;
  }
  &::-moz-placeholder {
    font-size: $fz;
  }
  &:-moz-placeholder {
    font-size: $fz;
  }
  &:-ms-input-placeholder {
    font-size: $fz;
  }
}

@mixin placeholder-font-color($col) {
  &::-webkit-input-placeholder {
    color: $col;
  }
  &::-moz-placeholder {
    color: $col;
  }
  &:-moz-placeholder {
    color: $col;
  }
  &:-ms-input-placeholder {
    color: $col;
  }
}

@mixin placeholder-text-transform($transform) {
  &::-webkit-input-placeholder {
    text-transform: $transform;
  }
  &::-moz-placeholder {
    text-transform: $transform;
  }
  &:-moz-placeholder {
    text-transform: $transform;
  }
  &:-ms-input-placeholder {
    text-transform: $transform;
  }
}

@mixin placeholder-letter-spacing($em) {
  &::-webkit-input-placeholder {
    letter-spacing: $em;
  }
  &::-moz-placeholder {
    text-transform: $em;
  }
  &:-moz-placeholder {
    text-transform: $em;
  }
  &:-ms-input-placeholder {
    text-transform: $em;
  }
}

@mixin underline-left-active($color) {
  &:after {
    background-color: $color;
    content: "";
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 1px;
    left: 0;
    margin: 5px 0 0;
    transition: all 0.4s ease-in-out;
    opacity: 1;
    backface-visibility: hidden;
  }
}

@mixin underline-hover-left($color) {
  &:hover {
    &:before,
    &:after {
      width: 100%;
      opacity: 1;
    }
  }
  &:after {
    left: 0;
    background-color: $color;
  }
  &:before,
  &:after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0;
    height: 1px;
    margin: 5px 0 0;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    backface-visibility: hidden;
  }
}

// Bounce 10 deg
@keyframes bounce10 {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  75% {
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
}

//shake hover effect
.icon-shake:hover {
  img {
    -webkit-animation: bounce10 .5s linear infinite;
    animation: bounce10 .5s linear infinite;
  }
  svg{
    -webkit-animation: bounce10 .5s linear infinite;
    animation: bounce10 .5s linear infinite;
  }
}
// END Bounce 10 deg
//calculate letter spacing use VA in psd place number in and will be calculated correct letter spacing
//LETTER SPACING CALCULATOR
@function letter-spacing-calc( $target ) {
  @return ($target / 1000) * 1em;
}
@mixin letter-spacing-calc( $target ) {
  letter-spacing: letter-spacing-calc($target);
}
//LETTER SPACING CALCULATOR END

//default transition time for example: all linear .2 just type time of transition
@mixin transition-time($transitionTime) {
  -moz-transition: all linear $transitionTime;
  -o-transition: all linear $transitionTime;
  -webkit-transition: all linear $transitionTime;
  transition: all linear $transitionTime;
}
// nav bar animation

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotation-effect:hover {
  -webkit-animation: rotating 0.5s 0.1s ease-out;
  animation: rotating 0.5s 0.1s ease-out;
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -o-animation-delay: .2s;
  animation-delay: .2s;
}

.prevent-shaking-animation {
  transform: perspective(1000px);
  -webkit-transform: perspective(1000px);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  &:hover {
    transform: translateY(-5px) perspective(1000px);
    -webkit-transform: translateY(-5px) perspective(1000px);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    perspective: 1000px;
    -webkit-perspective: 1000px;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
  }
}
.prevent-shaking-animation-noshadow {
  transform: perspective(1000px);
  -webkit-transform: perspective(1000px);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  &:hover {
    transform: translateY(-5px) perspective(1000px);
    -webkit-transform: translateY(-5px) perspective(1000px);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    perspective: 1000px;
    -webkit-perspective: 1000px;
  }
}


//dropdowns
.selectric-wrapper {
  font-size: 14px !important;
  padding-bottom: 0px!important;
  div{
    padding-bottom: 0px!important;
    padding-right: 0px !important;
  }
  ul {
    margin: 0 auto !important;
    width: 100%;
    .selected {
      width: 100% !important;
      color: #fff !important; // Rewritten plugin default styles
      background-color: #000 !important;
      text-align: left;
    }
    li {
      padding: 5px 25px!important;
      text-align: left!important;
      &:hover{
        background-color: #000 !important;
        color: #fff !important;
      }
    }
  }

  .selected {
    background-color: #fff !important;
    width: auto !important;
    text-align: left !important;
  }
}
.selectric{
  margin-top: 0px;
  padding-bottom: 0px;
  border: none!important;// Rewritten plugin default styles
  border-radius: 0px!important;
  background-color: transparent; // Rewritten plugin default styles
  background-image: url("../../images/icons/arrow-dd.svg"); // Set dropdown icon
  background-repeat: no-repeat;
  background-position: calc(100% - 0px) calc(52% - 0px);
  background-size: 12px auto;
  position: relative;
  text-align: left !important;
  align-items: center!important;
  max-width: 100% !important;
  height: 20px !important;

  .label {
    padding: 1px 25px !important;
    margin: 0; // Rewritten plugin default styles
    height: auto; // Rewritten plugin default styles
    font-family: sourceSansPro-regular;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
  }
  .button {
    display: none; // Rewritten plugin default styles
  }
}
.selectric-items {
  background-color: #fff; // Rewritten plugin default styles
  border: none; // Rewritten plugin default styles
  border: 3px solid #E6E6E6 !important;
  width: 100%!important;

  overflow: hidden;
  left: 0px;
  border-radius: 0px;
  align-items: center !important;
  li {
    font-size: 20px; // Rewritten plugin default styles
    color: #000; // Rewritten plugin default styles
    font-family: sourceSansPro-regular!important;
    transition: all 0.2s linear;
    background-color: #fff; // Rewritten plugin default styles
    padding: 0px !important;
    text-align: center !important;
    width: 100%;
    height: auto;


    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
  }
  .selectric-scroll {
    max-height: 200px;
    &::-webkit-scrollbar {
      height: 5px;
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #000;
      border-radius: 0px;
    }
  }
}
//makes dropdown window without
.selectric-open {
  .selectric{
    border-radius: 5px 5px 0 0 !important;
  }
  .selectric-items{
    border-top: 0px !important;
    border-radius: 0 0 5px 5px  !important;
    width: calc(100% + 0px ) !important;
  }
}
//hide text that is as placeholder in selects
.selectric-items {
  li {
    &:nth-of-type(1) {
      display: none;
    }
  }
}
@media screen and (max-width: 900px) {

   .selectric {
     padding: 0px 5px!important;
     label {
       padding: 0px 14px !important;
     }
   }
}

@-webkit-keyframes action {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

@keyframes action {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}