.pagination {
  .page-link {
    color: #383838;
    margin: 0 5px;
    font-family: sourceSansPro-regular;
    font-size: 18px;
    line-height: 23px;
  }
  //Pagination Style
  //arrows
  .page-item {
    &:first-of-type .page-link, &:last-of-type .page-link{
      background: #00923F;
      color: #fff;
    }
  }
  //arrows END
  .page-link {
    border-radius: 0px;
      position: relative;
    height: 100%;
    width: 46px;
    display: flex;align-items: center;
    justify-content: center;
   span svg{
     margin-top: -3px;
   }
  }
}
//Pagination Style END