.banner-img {

  width: 100%;
  max-width: 736px;
  height: 455px;
  margin: 0 auto;

  img {
    width: 100%;
    max-width: 736px;
    height: 455px;
  }
}
.modal-content{
  width: 100%;
  max-width: 736px;
  height: 455px;
  margin: 0 auto;
}

.banner-opened .image-modal-window .modal-cross {
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  background-color: transparent;
  img{
    height: 24px;
    width: 24px;
  }
}


.action-button{
  height: 80%;
  width: 95%;
  bottom: 0;
  a{
    width: 100%;
    height: 100%;
  }
}