
@media screen and (min-width: 1025px) {
  .gallery-category-wrapper {
    width: 100%;
    max-width: 392px;
    margin-right: 20px;
    margin-bottom: 30px;
  }
}

  .sidebar{

    ul{
      padding-left: 0px;
      list-style: none;
      li{
        margin-bottom: 20px;
        a{
          padding: 12px 20px;
          background-color: #F2F2F2;
          color: #383838;
          font-size: 18px;
          line-height: 28px;
          text-align: left;
          width: 100%;
          display: flex;
          &:hover{
            background-color: #00923F;
            color: #fff;
          }
        }
      }
    }

    .current-menu-item a{
      background-color: #00923F;
      color: #fff;
    }


    @media screen and (max-width: 1024px) {
       ul li a{
        justify-content: flex-end!important;
        text-align: right;
      }
    }

  }
