.order-success-message{
  margin-top: -124px;
  margin-bottom: 30px;
  h1, h2{
    font-family: bitter-semibold;
    font-size: 44px;
    line-height: 53px;
    color: #383838;
    margin-bottom: 30px;
  }
  p{
    color: #383838;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
  }
.green-rotate-icon-wrapper{
    margin-bottom: 60px;
  .green-rotating-icon{
    height: 147px;
    width: 147px;
    background-color: #00923F;
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      transform: rotate(-45deg);
      max-width: 90px;
      height: 77px;
    }
  }
}
@media screen and (max-width: 767px) {
  margin-top: -70px;
  h1, h2{
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
  }
  .green-rotate-icon-wrapper{
    margin-bottom: 40px;
    .green-rotating-icon{
      height: 100px;
      width: 100px;
      img{
        max-width: 70px;
        height: 60px;
      }
    }
  }
  p{
    margin-bottom: 20px;
  }
}


}
