.contacts{

  .contact-us-info{
    margin-bottom: 30px;
    .single-contact-element{
      //flexibilty
      @media screen and (min-width: 1025px) {
        width: calc((100% - 60px) / 4);
        margin: 0px 20px 20px 0px;
        &:nth-of-type(4n) {
          margin: 0px 0px 20px 0px!important;
        }
      }
      @media screen and (max-width: 1024px) and (min-width: 601px) {
        width: calc((100% - 20px) / 2);
        margin: 0px 20px 20px 0px;
        &:nth-of-type(2n) {
          margin: 0px 0px 20px 0px!important;
        }
      }
      @media screen and (max-width: 600px) {
        width: 100%;
        margin: 0px 0px 20px 0px;
      }
      //flexibilty


      border: 1px solid #EDEDED;
      padding: 30px;
      background-color: #fff;
      @include transition-time(.2s);

      .logo-wrapper{
        .contacts-logo {
          margin-right: auto;
          height: 32px;
          width: auto;
          object-fit: contain;
        }

        margin-bottom: 30px;
      }
      h2{
        font-size: 20px;
        line-height: 24px;
        font-family: bitter-semibold;
        color: #383838;
        margin-bottom: 20px;
      }
      p{
        font-size: 16px;
        line-height: 29px;
        font-family: sourceSansPro-regular;
        color: #383838;
        margin-bottom: 12px;
        strong{
          font-family: sourceSansPro-bold;
        }
      }
      .padding-r-10{
        p{
          margin-right: 10px;
        }
      }



      //for phone
      .number{
          @include transition-time(.2s);
          position: relative;

          &:after {
            left: 0;
            background-color: #383838;
          }
          &:before,
          &:after {
            content: "";
            position: absolute;
            bottom: 0px;
            width: 0;
            height: 1px;
            margin: 5px 0 0;
            transition: all 0.4s ease-in-out;
            opacity: 0;
            backface-visibility: hidden;
          }
        }
      }
      a:hover{
        .number{
          &:before,
          &:after {
            width: 100%;
            opacity: 1;
          }
        }
      }
      //for phone END
  }



//  image
  .contacts-image{
    margin-bottom: 50px;
    img{
      width: 100%;
      height: 428px;
      object-fit: cover;
    }
  }
//  image END


  //Map
  .map-container {
    margin-bottom: 50px;
    #map {
      width: 100%;
      height: 493px;
    }
  }
  .map-nav-buttons{
    bottom: 20px;
    left: calc(50% - 610px);

    a {
      &:not(&:last-of-type){
        margin-right: 20px;
      }
      background-color: #fff;
      padding: 14px 20px;
      img {
        width: 100%;
        height: 26px;
        object-fit: contain;
      }
    }
  }
  //Map END


//  Form
  .form-wrapper{
    margin-bottom: 65px;
  }

  .form-contacts{
    margin-right: 50px;
  }

  .form-contacts-paragraph{
    padding: 40px;
    border: 1px solid #F2F2F2;


    p{
      font-size: 18px;
      line-height: 36px;
      font-family: sourceSansPro-regular;
      color: #383838;

    }
  }

//  Form END

  @media screen and (max-width: 1240px){
    .map-nav-buttons{
      left: 20px;
    }
  }
  @media screen and (max-width: 1024px){
    .contact-us-info{
      margin-bottom: 10px;
    }
    .contacts-image, .contact-us-info, .map-container{
      margin-bottom: 30px;
    }
    .form-contacts{
      margin-right: 20px;
    }
    .form-contacts-paragraph{
      padding: 20px
    }

  }
  @media screen and (max-width: 900px){
   .contacts-image img{
     height: 400px;
   }
    .form-wrapper{
      flex-direction: column;
      margin-bottom: 40px;
    }
    .form-contacts{
      margin-bottom: 30px;
    }
    .map-container #map{
      height: 400px;
    }

  }
  @media screen and (max-width: 600px){
    .map-container #map, .contacts-image img{
      height: 300px;
    }

    .map-nav-buttons a{
      padding: 10px 15px;
      img{
        height: 15px;
      }
    }
    .form-contacts form {
      .single-input {
        padding: 10px;
        margin-bottom: 20px;
      }
      textarea{
        padding: 10px;
        margin-bottom: 20px;
      }
    }
    .contact-us-info .single-contact-element{
      padding: 20px;
    }
  }

}