@font-face {
  font-family: bitter-semibold;
  src: url("../fonts/Bitter-SemiBold.ttf") format("truetype");
  font-weight: 600; }
@font-face {
  font-family: sourceSansPro-bold;
  src: url("../fonts/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: 700; }
@font-face {
  font-family: sourceSansPro-regular;
  src: url("../fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: 400; }
@font-face {
  font-family: sourceSansPro-semibold;
  src: url("../fonts/SourceSansPro-Semibold.ttf") format("truetype");
  font-weight: 400; }
.sourceSansPro-bold {
  font-family: sourceSansPro-bold !important; }

.sourceSansPro-semibold {
  font-family: sourceSansPro-semibold !important; }

.sourceSansPro-regular {
  font-family: sourceSansPro-regula !important; }

* {
  letter-spacing: normal;
  line-height: normal; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0px; }

.overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

@keyframes bounce10 {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg); }
  25% {
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg); }
  50% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg); }
  75% {
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg); }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg); } }
.icon-shake:hover img {
  -webkit-animation: bounce10 .5s linear infinite;
  animation: bounce10 .5s linear infinite; }
.icon-shake:hover svg {
  -webkit-animation: bounce10 .5s linear infinite;
  animation: bounce10 .5s linear infinite; }

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.rotation-effect:hover {
  -webkit-animation: rotating 0.5s 0.1s ease-out;
  animation: rotating 0.5s 0.1s ease-out;
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -o-animation-delay: .2s;
  animation-delay: .2s; }

.prevent-shaking-animation {
  transform: perspective(1000px);
  -webkit-transform: perspective(1000px);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  perspective: 1000px;
  -webkit-perspective: 1000px; }
  .prevent-shaking-animation:hover {
    transform: translateY(-5px) perspective(1000px);
    -webkit-transform: translateY(-5px) perspective(1000px);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    perspective: 1000px;
    -webkit-perspective: 1000px;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3); }

.prevent-shaking-animation-noshadow {
  transform: perspective(1000px);
  -webkit-transform: perspective(1000px);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  perspective: 1000px;
  -webkit-perspective: 1000px; }
  .prevent-shaking-animation-noshadow:hover {
    transform: translateY(-5px) perspective(1000px);
    -webkit-transform: translateY(-5px) perspective(1000px);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    perspective: 1000px;
    -webkit-perspective: 1000px; }

.selectric-wrapper {
  font-size: 14px !important;
  padding-bottom: 0px !important; }
  .selectric-wrapper div {
    padding-bottom: 0px !important;
    padding-right: 0px !important; }
  .selectric-wrapper ul {
    margin: 0 auto !important;
    width: 100%; }
    .selectric-wrapper ul .selected {
      width: 100% !important;
      color: #fff !important;
      background-color: #000 !important;
      text-align: left; }
    .selectric-wrapper ul li {
      padding: 5px 25px !important;
      text-align: left !important; }
      .selectric-wrapper ul li:hover {
        background-color: #000 !important;
        color: #fff !important; }
  .selectric-wrapper .selected {
    background-color: #fff !important;
    width: auto !important;
    text-align: left !important; }

.selectric {
  margin-top: 0px;
  padding-bottom: 0px;
  border: none !important;
  border-radius: 0px !important;
  background-color: transparent;
  background-image: url("../../images/icons/arrow-dd.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 0px) calc(52% - 0px);
  background-size: 12px auto;
  position: relative;
  text-align: left !important;
  align-items: center !important;
  max-width: 100% !important;
  height: 20px !important; }
  .selectric .label {
    padding: 1px 25px !important;
    margin: 0;
    height: auto;
    font-family: sourceSansPro-regular;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase; }
  .selectric .button {
    display: none; }

.selectric-items {
  background-color: #fff;
  border: none;
  border: 3px solid #E6E6E6 !important;
  width: 100% !important;
  overflow: hidden;
  left: 0px;
  border-radius: 0px;
  align-items: center !important; }
  .selectric-items li {
    font-size: 20px;
    color: #000;
    font-family: sourceSansPro-regular !important;
    transition: all 0.2s linear;
    background-color: #fff;
    padding: 0px !important;
    text-align: center !important;
    width: 100%;
    height: auto;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center; }
  .selectric-items .selectric-scroll {
    max-height: 200px; }
    .selectric-items .selectric-scroll::-webkit-scrollbar {
      height: 5px;
      width: 10px; }
    .selectric-items .selectric-scroll::-webkit-scrollbar-track {
      background-color: transparent; }
    .selectric-items .selectric-scroll::-webkit-scrollbar-thumb {
      background-color: #000;
      border-radius: 0px; }

.selectric-open .selectric {
  border-radius: 5px 5px 0 0 !important; }
.selectric-open .selectric-items {
  border-top: 0px !important;
  border-radius: 0 0 5px 5px  !important;
  width: calc(100% + 0px ) !important; }

.selectric-items li:nth-of-type(1) {
  display: none; }

@media screen and (max-width: 900px) {
  .selectric {
    padding: 0px 5px !important; }
    .selectric label {
      padding: 0px 14px !important; } }
@-webkit-keyframes action {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-10px); } }
@keyframes action {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-10px); } }
@use 'helper';
html, body {
  margin: 0px !important;
  padding: 0px !important;
  height: 100% !important;
  width: 100% !important;
  font-family: sourceSansPro-regular; }
  html h1, html h2, body h1, body h2 {
    font-family: bitter-semibold; }

textarea:focus, input:focus {
  outline: none; }

html {
  scroll-behavior: smooth; }

.content-wrapper {
  width: 100%;
  max-width: 1260px;
  padding: 0px 20px;
  margin: 0 auto; }

.green-color {
  color: #00923F !important; }

.red-color {
  color: #DB2727 !important; }

.default-page-min-height {
  min-height: calc(100vh - 400px); }

.default-page-min-height-small {
  min-height: calc(100vh - 380px); }

p {
  margin-bottom: 0px; }

a > p {
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s; }

img {
  object-fit: cover; }

.contain {
  object-fit: contain; }

.preloader {
  display: none;
  max-width: 30px;
  max-height: 30px;
  top: calc(50% + 14px);
  left: auto;
  right: calc(100% - 295px);
  -webkit-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite; }

.transition-default {
  transition: all .2s linear; }
  .transition-default:hover {
    transition: all .2s linear; }

.backface-hidden {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.wysiwyg-style .alignright {
  float: right !important;
  width: 40% !important;
  margin-left: 55px; }
.wysiwyg-style .alignleft {
  float: left !important;
  width: 40% !important;
  margin-right: 55px; }
.wysiwyg-style > img {
  width: 100%;
  height: auto;
  max-height: 589px;
  object-fit: cover;
  margin-bottom: 40px; }
.wysiwyg-style > p {
  color: #383838;
  font-family: sourceSansPro-regular;
  font-size: 16px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 26px;
  margin-bottom: 26px; }
  .wysiwyg-style > p:last-of-type {
    margin-bottom: 40px; }
  @media screen and (max-width: 767px) {
    .wysiwyg-style > p {
      margin-bottom: 25px; } }
  .wysiwyg-style > p strong {
    font-family: sourceSansPro-bold;
    font-size: 26px;
    line-height: 37px; }
  .wysiwyg-style > p a:not(.default-button) {
    font-family: sourceSansPro-bold;
    -moz-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;
    position: relative;
    color: #383838; }
    .wysiwyg-style > p a:not(.default-button):hover:before, .wysiwyg-style > p a:not(.default-button):hover:after {
      width: 100%;
      opacity: 1; }
    .wysiwyg-style > p a:not(.default-button):after {
      left: 0;
      background-color: #383838; }
    .wysiwyg-style > p a:not(.default-button):before, .wysiwyg-style > p a:not(.default-button):after {
      content: "";
      position: absolute;
      bottom: 0px;
      width: 0;
      height: 1px;
      margin: 5px 0 0;
      transition: all 0.4s ease-in-out;
      opacity: 0;
      backface-visibility: hidden; }
    .wysiwyg-style > p a:not(.default-button):hover {
      color: #383838;
      text-decoration: none; }
  .wysiwyg-style > p img {
    width: 100%;
    height: auto;
    max-height: 750px;
    object-fit: cover;
    margin-bottom: 10px; }
.wysiwyg-style > ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px; }
  .wysiwyg-style > ul li {
    font-family: sourceSansPro-regular;
    color: #383838;
    font-size: 16px;
    line-height: 36px;
    display: table;
    position: relative;
    padding-left: 21px;
    background-image: url("../../images/icons/list-icon.svg");
    background-repeat: no-repeat;
    background-size: 5px;
    background-position: 1px 17px; }
    .wysiwyg-style > ul li stron, .wysiwyg-style > ul li a {
      font-family: sourceSansPro-bold; }
.wysiwyg-style > h2, .wysiwyg-style > h3 {
  color: #383838;
  transition: all .2s linear; }
  .wysiwyg-style > h2 a, .wysiwyg-style > h3 a {
    font-family: sourceSansPro-bold; }
    .wysiwyg-style > h2 a:hover, .wysiwyg-style > h3 a:hover {
      color: #383838; }
.wysiwyg-style > h2 {
  color: #383838;
  font-family: bitter-semibold;
  font-size: 34px;
  line-height: 44px;
  margin-bottom: 30px; }
.wysiwyg-style > h3 {
  color: #383838;
  font-family: sourceSansPro-bold;
  font-size: 25px;
  letter-spacing: normal;
  line-height: 35px;
  margin-bottom: 5px; }
.wysiwyg-style > h4 {
  font-family: sourceSansPro-regular;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1.5px;
  line-height: normal;
  color: #383838;
  margin-bottom: 25px; }
.wysiwyg-style > p + ul {
  margin-top: 20px; }
.wysiwyg-style > h2 + ul {
  margin-top: -10px; }
.wysiwyg-style .wysiwyg-table-wrapper {
  overflow: hidden;
  overflow-x: auto;
  margin: 0 auto 45px; }
  .wysiwyg-style .wysiwyg-table-wrapper::-webkit-scrollbar {
    height: 5px; }
  .wysiwyg-style .wysiwyg-table-wrapper::-webkit-scrollbar-track {
    background-color: transparent; }
  .wysiwyg-style .wysiwyg-table-wrapper::-webkit-scrollbar-thumb {
    background-color: #383838;
    border-radius: 0px; }
  .wysiwyg-style .wysiwyg-table-wrapper table {
    margin: 0; }
@media screen and (max-width: 1024px) {
  .wysiwyg-style > ul li, .wysiwyg-style p {
    font-size: 16px;
    line-height: 30px; } }
@media screen and (max-width: 767px) {
  .wysiwyg-style .alignright {
    width: 100% !important;
    float: unset !important;
    margin-left: 0px;
    max-height: 400px; }
  .wysiwyg-style .alignleft {
    width: 100% !important;
    float: unset !important;
    margin-right: 0px;
    max-height: 400px; } }

.video-wysiwyg {
  position: relative;
  overflow: hidden;
  margin-bottom: 48px; }
  .video-wysiwyg:before {
    content: "";
    display: block;
    padding-top: 56.5%; }
  .video-wysiwyg iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.wysiwyg-gallery .single-gallery-element {
  width: calc((100% - 40px) / 3.001);
  margin: 0px 10px 10px;
  transition: all .2s linear;
  transform: perspective(1000px);
  -webkit-transform: perspective(1000px);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  perspective: 1000px;
  -webkit-perspective: 1000px; }
  .wysiwyg-gallery .single-gallery-element:nth-of-type(1) {
    margin: 0px 10px 10px 0 !important; }
  .wysiwyg-gallery .single-gallery-element:nth-of-type(4) {
    margin: 0px 0px 10px 10px !important; }
  .wysiwyg-gallery .single-gallery-element:before {
    content: "";
    display: block;
    padding-top: 88%; }
  .wysiwyg-gallery .single-gallery-element .gallery-image, .wysiwyg-gallery .single-gallery-element .darkness-effect {
    top: 0;
    left: 0;
    object-fit: cover; }
  .wysiwyg-gallery .single-gallery-element .gallery-image {
    max-height: 289px;
    max-width: 100%; }
  .wysiwyg-gallery .single-gallery-element .darkness-effect {
    background-color: #000;
    opacity: 62%;
    max-height: 289px !important; }
  .wysiwyg-gallery .single-gallery-element .number-additional {
    bottom: 18px;
    right: 20px;
    color: #fff;
    font-size: 18px;
    font-family: sourceSansPro-bold; }
  .wysiwyg-gallery .single-gallery-element:hover {
    transition: all .2s linear;
    transform: translateY(-5px) perspective(1000px);
    -webkit-transform: translateY(-5px) perspective(1000px);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    perspective: 1000px;
    -webkit-perspective: 1000px; }

.main-title {
  color: #000;
  font-family: bitter-semibold;
  font-size: 58px;
  margin-bottom: 67px;
  line-height: 71px;
  letter-spacing: 0px; }
  @media screen and (max-width: 767px) {
    .main-title {
      font-size: 28px !important;
      line-height: 33px !important;
      margin: 0 auto 29px auto; } }

.main-title-w-decor {
  margin-bottom: 50px;
  font-family: bitter-semibold;
  font-size: 34px;
  line-height: 41px;
  color: #383838;
  padding: 0px 113px;
  background: url("../../images/icons/title-decor-l.svg") left center no-repeat, url("../../images/icons/title-decor-r.svg") right center no-repeat; }
  @media screen and (max-width: 767px) {
    .main-title-w-decor {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 30px; } }

.main-title-h2 {
  font-family: bitter-semibold;
  font-size: 34px;
  line-height: 41px; }
  @media screen and (max-width: 767px) {
    .main-title-h2 {
      font-size: 24px;
      line-height: 28px; } }

.video-container {
  overflow: hidden;
  position: relative;
  width: 100%; }

.video-container::after {
  padding-top: 45%;
  display: block;
  content: ''; }

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@media screen and (max-width: 950px) {
  .wysiwyg-gallery .single-gallery-element {
    width: calc((100% - 60px) / 4.001);
    margin: 0 20px 20px 0; }

  .video-wysiwyg {
    margin-top: 20px;
    margin-bottom: 20px; }

  .wysiwyg-gallery {
    margin: 15px auto;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: start !important; }
    .wysiwyg-gallery .single-gallery-element {
      margin: 0px 20px 20px 0px; }
      .wysiwyg-gallery .single-gallery-element:nth-of-type(1) {
        margin: 0px 20px 20px 0px !important; }
      .wysiwyg-gallery .single-gallery-element:nth-of-type(4n) {
        margin: 0px 0px 20px 0px !important; } }
@media screen and (max-width: 650px) and (min-width: 100px) {
  .wysiwyg-gallery .single-gallery-element {
    width: calc((100% - 20px) / 2.001) !important;
    margin: 0 20px 20px 0 !important; }
    .wysiwyg-gallery .single-gallery-element:nth-of-type(2n) {
      margin: 0px 0 20px 0 !important; } }
@media screen and (max-width: 500px) and (min-width: 100px) {
  .wysiwyg-gallery .single-gallery-element {
    width: 100% !important;
    margin: 0 0 20px !important; }
    .wysiwyg-gallery .single-gallery-element:nth-of-type(1) {
      margin: 0px 0px 20px 0 !important; }
    .wysiwyg-gallery .single-gallery-element:nth-of-type(4) {
      margin: 0px 0 20px 0px !important; } }
@media screen and (min-width: 1224px) {
  .gallery .images-wrapper .single-image {
    width: calc((100% - 120px) / 4.001);
    margin: 0px 40px 37px 0; } }
@media screen and (max-width: 1224px) and (min-width: 768px) {
  .gallery .images-wrapper .element-image {
    margin-bottom: 26px; } }
@media screen and (max-width: 767px) and (min-width: 576px) {
  .gallery .images-wrapper .single-image {
    width: 100%;
    margin: 0 30px 30px 0; } }

@media screen and (max-width: 767px) {
  body {
    font-size: 14px; }

  .default-page-min-height {
    min-height: calc(100vh - 443px - 100px); }

  .wysiwyg-style > p {
    font-size: 14px;
    line-height: 20px; }
    .wysiwyg-style > p strong {
      font-size: 16px;
      line-height: 22px; }
  .wysiwyg-style > img {
    margin-bottom: 30px; }
  .wysiwyg-style > p {
    font-size: 14px;
    margin-bottom: 20px; }
    .wysiwyg-style > p img {
      margin-bottom: 10px; }
  .wysiwyg-style > ul {
    margin-bottom: 20px; }
    .wysiwyg-style > ul li {
      line-height: 25px;
      background-position: 0 7px; }
  .wysiwyg-style > h2 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 15px; }
  .wysiwyg-style > h3 {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 10px; }
  .wysiwyg-style > p + ul {
    margin-top: -20px; }
  .wysiwyg-style .wysiwyg-table-wrapper {
    margin: 0 auto 30px; } }
.date-created-post {
  font-family: sourceSansPro-regular;
  font-size: 18px;
  line-height: 23px;
  color: #383838;
  opacity: 54%;
  float: right;
  margin-top: 12px; }

.green-title {
  color: #00923F; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield !important; }

.checkbox-single {
  font-size: 0;
  margin-bottom: 10px;
  margin-left: 21px; }
  .checkbox-single .checkbox-title {
    font-family: sourceSansPro-semibold;
    font-size: 18px !important;
    cursor: pointer;
    color: #383838; }
    .checkbox-single .checkbox-title a {
      position: relative;
      color: #383838;
      text-decoration: none;
      font-size: 16px !important;
      border-bottom: 1px solid #383838;
      -moz-transition: all linear 0.2s;
      -o-transition: all linear 0.2s;
      -webkit-transition: all linear 0.2s;
      transition: all linear 0.2s; }
      .checkbox-single .checkbox-title a:hover {
        color: #383838;
        border-bottom: 1px solid #383838; }
  .checkbox-single .checkbox-back {
    width: 24px;
    height: 24px;
    border: 1px solid #DEDEDE;
    cursor: pointer;
    margin-right: 11px;
    transition: all 0.2s linear;
    overflow: hidden;
    background-color: #fff; }
    .checkbox-single .checkbox-back .checkbox-mark {
      background: #00923F !important;
      width: 100% !important;
      height: 100% !important;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      opacity: 0;
      transition: all 0.1s linear; }
      .checkbox-single .checkbox-back .checkbox-mark img {
        width: 11px; }
  .checkbox-single input {
    left: -9999px; }
    .checkbox-single input:checked ~ .checkbox-label .checkbox-back {
      border: transparent !important; }
      .checkbox-single input:checked ~ .checkbox-label .checkbox-back .checkbox-mark {
        opacity: 1; }

.image-modal-window .modal {
  padding: 0 !important;
  overflow-y: scroll;
  text-align: center; }
.image-modal-window .modal.show {
  display: flex !important;
  display: -webkit-flex !important;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center; }
.image-modal-window .modal-dialog {
  max-width: 1500px;
  background-color: transparent;
  margin: 0; }
  .image-modal-window .modal-dialog .modal-content {
    background-color: transparent;
    border: none !important;
    padding: 0; }
    .image-modal-window .modal-dialog .modal-content .align-modal-helper {
      padding: 15px !important;
      height: 100%; }
    .image-modal-window .modal-dialog .modal-content .gallery-slide-description {
      font-size: 16px;
      max-height: 72px;
      padding: 0 15px;
      margin: 7.5px 0;
      color: #fff; }
      .image-modal-window .modal-dialog .modal-content .gallery-slide-description::-webkit-scrollbar {
        width: 5px; }
      .image-modal-window .modal-dialog .modal-content .gallery-slide-description::-webkit-scrollbar-track {
        background-color: transparent; }
      .image-modal-window .modal-dialog .modal-content .gallery-slide-description::-webkit-scrollbar-thumb {
        background-color: #1d1815; }
    .image-modal-window .modal-dialog .modal-content .slide-image, .image-modal-window .modal-dialog .modal-content .iframe-wrapper {
      max-height: 80vh;
      max-width: 100%;
      padding: 7.5px;
      object-fit: contain;
      background-color: transparent; }
    .image-modal-window .modal-dialog .modal-content .slide-image {
      width: auto;
      height: auto;
      padding: 0; }
    .image-modal-window .modal-dialog .modal-content .iframe-wrapper {
      width: 100%;
      height: 800px; }
      .image-modal-window .modal-dialog .modal-content .iframe-wrapper iframe {
        width: 100%;
        height: 100%; }
    .image-modal-window .modal-dialog .modal-content .carousel-inner {
      background-color: transparent !important; }
    .image-modal-window .modal-dialog .modal-content .carousel-item {
      background-color: transparent !important; }
.image-modal-window .carousel-control-prev, .image-modal-window .carousel-control-next {
  width: 50px;
  height: 50px;
  font-size: 20px;
  background-color: #1d1815;
  color: #fff;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  opacity: 0.75;
  transition: all .2s linear; }
  .image-modal-window .carousel-control-prev:hover, .image-modal-window .carousel-control-next:hover {
    opacity: 1;
    transition: all .2s linear; }
.image-modal-window .carousel-control-prev {
  margin-left: 10px; }
.image-modal-window .carousel-control-next {
  margin-right: 10px; }
.image-modal-window .modal-cross {
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  background-color: #1d1815;
  opacity: 0.75;
  padding: 0;
  border: none;
  cursor: pointer;
  color: #fff; }
  .image-modal-window .modal-cross img {
    width: 20px !important;
    height: 20px !important; }
  .image-modal-window .modal-cross:hover {
    opacity: 1; }
  .image-modal-window .modal-cross:focus {
    outline: none; }

.modal-backdrop {
  opacity: .8 !important; }

@media screen and (max-width: 1200px) {
  .image-modal-window .modal {
    padding-left: 15px !important;
    padding-right: 15px !important; } }
@media screen and (max-width: 1024px) {
  .image-modal-window .modal {
    padding-left: 30px !important;
    padding-right: 30px !important; }
  .image-modal-window .align-modal-helper {
    padding: 0 !important; } }
@media screen and (max-width: 767px) {
  .image-modal-window .modal {
    padding-left: 10px !important;
    padding-right: 10px !important; }
  .image-modal-window .modal-dialog .modal-content img {
    padding: 0; }
  .image-modal-window .carousel-control-prev, .image-modal-window .carousel-control-next {
    opacity: 0.75; }
    .image-modal-window .carousel-control-prev:hover, .image-modal-window .carousel-control-next:hover {
      opacity: 0.75; }
    .image-modal-window .carousel-control-prev:focus, .image-modal-window .carousel-control-next:focus {
      opacity: 0.75; }
  .image-modal-window .modal-cross {
    opacity: 1; }
    .image-modal-window .modal-cross:hover {
      opacity: 1; }
    .image-modal-window .modal-cross:focus {
      opacity: 1; } }
a {
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
  color: #000; }
  a:hover {
    color: #000;
    text-decoration: none; }
  a:focus {
    outline: none; }
  a:before, a:after {
    transition: all .2s linear; }

button, button:focus {
  border: none !important;
  outline: none !important; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important; }

input, textarea, button {
  transition: all .2s linear; }
  input:focus, textarea:focus, button:focus {
    outline: none; }

a, button {
  outline: none !important; }

a, button, input[type="submit"] input[type="button"] {
  cursor: pointer !important; }

input:focus {
  cursor: text; }

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  margin-right: 10px;
  padding: 14px 56px;
  min-height: 50px;
  font-size: 16px;
  line-height: 20px;
  font-family: sourceSansPro-bold;
  color: #fff;
  background-color: #00923F;
  border: 1px solid #00923F; }
  .button:last-of-type {
    margin-right: 0px; }
  .button:hover {
    background-color: #00923F;
    color: #fff; }
  @media screen and (max-width: 767px) {
    .button {
      font-size: 13px;
      padding: 12px 23px;
      line-height: 21px; } }

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00923F;
  padding: 10px;
  margin-left: 30px;
  border: 2px solid #00923F; }
  .search-button svg {
    height: 20px;
    width: 20px;
    object-fit: contain;
    fill: #fff;
    transition: all linear .2s; }
  .search-button:hover {
    background-color: #fff; }
    .search-button:hover svg {
      fill: #00923F !important; }

.body-home-class {
  height: auto !important; }

.mobile-header-wrapper {
  max-height: 120px;
  height: 100%; }

.desktop-menu {
  margin: 0 20px 0 auto; }

.body-home-class .navbar-header {
  background-color: transparent; }

.menu .languages ul li {
  margin: 0px !important; }

.languages-desktop {
  margin-left: 50px; }

.main-info-desktop {
  display: flex;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 0px;
  margin-top: 0px; }
  .main-info-desktop .logo a {
    z-index: 999999999;
    overflow: visible;
    max-width: 150px;
    max-height: 82px;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    transition: all linear 0.4s; }
    .main-info-desktop .logo a img {
      -moz-transition: all linear 0.4s;
      -o-transition: all linear 0.4s;
      -webkit-transition: all linear 0.4s;
      transition: all linear 0.4s;
      max-width: 150px;
      height: auto;
      max-height: 82px;
      object-fit: contain; }

.navbar-header {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  position: fixed !important;
  top: 0px;
  left: 0px;
  justify-content: center;
  z-index: 1020 !important;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; }
  .navbar-header .menu {
    width: 100%;
    display: flex;
    align-items: center; }
    .navbar-header .menu ul {
      margin-right: 5px;
      margin-left: 5px;
      margin-bottom: 0px;
      padding-left: 0px;
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .navbar-header .menu ul li {
        padding: 10px 30px 10px 10px;
        text-wrap: none;
        max-width: 250px;
        overflow-x: clip;
        text-overflow: ellipsis;
        display: flex;
        align-items: center; }
        .navbar-header .menu ul li:last-of-type {
          padding: 10px 0px 10px 10px; }
        .navbar-header .menu ul li a {
          font-family: bitter-semibold;
          color: #fff;
          font-size: 18px;
          line-height: 22px;
          font-style: normal;
          position: relative;
          text-align: left;
          text-transform: uppercase;
          text-overflow: ellipsis;
          white-space: nowrap; }
          .navbar-header .menu ul li a:hover:before, .navbar-header .menu ul li a:hover:after {
            width: 100%;
            opacity: 1; }
          .navbar-header .menu ul li a:after {
            left: 0;
            background-color: #fff; }
          .navbar-header .menu ul li a:before, .navbar-header .menu ul li a:after {
            content: "";
            position: absolute;
            bottom: 0px;
            width: 0;
            height: 1px;
            margin: 5px 0 0;
            transition: all 0.4s ease-in-out;
            opacity: 0;
            backface-visibility: hidden; }
    .navbar-header .menu .current-menu-item a:after {
      background-color: #fff;
      content: "";
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 1px;
      left: 0;
      margin: 5px 0 0;
      transition: all 0.4s ease-in-out;
      opacity: 1;
      backface-visibility: hidden; }

.navbar-scroll {
  max-height: 147px;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.5);
  background-color: #1F1F1F !important; }

.header-content {
  display: flex;
  flex-direction: row; }

.burger {
  height: 50px !important;
  width: 75px;
  border: none;
  background-color: transparent;
  position: relative; }
  .burger:focus {
    outline: none; }
  .burger .wrapper {
    width: 25px; }
    .burger .wrapper .line {
      border-radius: 0px;
      left: 0;
      top: 0;
      height: 2px;
      width: 18px;
      margin-bottom: 10px;
      background-color: #fff; }
      .burger .wrapper .line:nth-child(1) {
        transform: rotate(140deg);
        -webkit-transform: rotate(140deg);
        transition: all 0.2s linear; }
      .burger .wrapper .line:nth-child(3) {
        transform: rotate(-140deg);
        -webkit-transform: rotate(-140deg);
        transition: all 0.2s linear; }
      .burger .wrapper .line:nth-child(2) {
        width: 0;
        margin: 0 auto 10px; }
      .burger .wrapper .line:last-child {
        margin-bottom: 0; }

.mob-burger {
  margin: 0 0 0 10px; }
  .mob-burger .collapsed .line {
    position: static !important;
    border-radius: 5px !important; }
    .mob-burger .collapsed .line:nth-child(1) {
      transform: rotate(0deg) !important;
      -webkit-transform: rotate(0deg) !important;
      transition: all 0.2s linear !important;
      width: 18px !important;
      margin-bottom: 7px !important; }
      .mob-burger .collapsed .line:nth-child(1) img {
        width: 15px;
        height: 13px;
        left: -2px;
        top: -4.8212px;
        position: absolute; }
    .mob-burger .collapsed .line:nth-child(3) {
      transform: rotate(0deg) !important;
      -webkit-transform: rotate(0deg) !important;
      transition: all 0.2s linear !important;
      width: 18px !important; }
    .mob-burger .collapsed .line:nth-child(2) {
      width: 18px !important;
      transition: all 0.2s linear !important; }
  .mob-burger .burger {
    height: 67px !important;
    width: 18px;
    border: none;
    background-color: transparent;
    position: relative; }
    .mob-burger .burger:focus {
      outline: none; }
    .mob-burger .burger .wrapper {
      width: 18px; }
      .mob-burger .burger .wrapper .line {
        border-radius: 5px;
        left: 0;
        top: 0;
        height: 2px;
        width: 18px;
        margin-bottom: 3px;
        background-color: #fff; }
        .mob-burger .burger .wrapper .line:nth-child(1) {
          transform: rotate(140deg);
          -webkit-transform: rotate(140deg);
          transition: all 0.2s linear; }
        .mob-burger .burger .wrapper .line:nth-child(3) {
          transform: rotate(-140deg);
          -webkit-transform: rotate(-140deg);
          transition: all 0.2s linear; }
        .mob-burger .burger .wrapper .line:nth-child(2) {
          width: 0;
          margin: 0 auto 7px; }
        .mob-burger .burger .wrapper .line:last-child {
          margin-bottom: 0; }

@media screen and (max-width: 1700px) and (min-width: 901px) {
  .navbar-header .menu .ul-wrapper ul {
    margin-left: 0px;
    margin-right: 00px; }
    .navbar-header .menu .ul-wrapper ul li {
      padding: 10px 10px 10px 10px; } }
@media screen and (max-width: 1280px) and (min-width: 901px) {
  .navbar-scroll .menu ul li, .navbar-header .menu ul li {
    padding: 10px 8px; }

  .navbar-scroll .main-info-desktop .logo, .main-info-desktop .logo {
    width: 100px; }
    .navbar-scroll .main-info-desktop .logo a, .main-info-desktop .logo a {
      max-width: 100px;
      max-height: 100px;
      overflow: visible; }
      .navbar-scroll .main-info-desktop .logo a img, .main-info-desktop .logo a img {
        max-width: 100px;
        height: auto;
        max-height: 60px; } }
@media screen and (max-width: 1153px) and (min-width: 767px) {
  .navbar-header .menu .ul-wrapper ul {
    margin-left: 0px;
    margin-right: 0px; }
    .navbar-header .menu .ul-wrapper ul li {
      padding: 5px 5px 5px 5px; } }
@media screen and (max-width: 975px) and (min-width: 901px) {
  .languages-desktop {
    margin-left: 10px; }

  .navbar-header .menu ul li a {
    font-size: 16px; } }
@media screen and (max-width: 1170px) {
  .navbar-header .header-content {
    min-height: 70px; } }
@media screen and (max-width: 900px) and (min-width: 1171px) {
  .navbar-header .menu ul li {
    margin: 10px; } }
@media screen and (max-width: 1280px) and (min-width: 901px) {
  .navbar-scroll .menu, .navbar-header .menu {
    justify-content: start; }
    .navbar-scroll .menu ul, .navbar-header .menu ul {
      padding-left: 0px;
      margin-right: 10px; } }
@media screen and (min-width: 901px) {
  .navbar-header .header {
    display: block !important; }
  .navbar-header .mobile-header-wrapper {
    display: none !important; }

  .mobile-wrapper .menu {
    display: none; } }
@media screen and (max-width: 900px) {
  .header .logo {
    display: none !important; }

  .mobile-logo-main {
    -moz-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;
    margin-right: auto;
    overflow: visible;
    padding-right: 20px;
    z-index: 99999; }
    .mobile-logo-main img {
      -moz-transition: all linear 0.2s;
      -o-transition: all linear 0.2s;
      -webkit-transition: all linear 0.2s;
      transition: all linear 0.2s;
      width: 100%;
      height: auto;
      max-width: 130px;
      max-height: 60px;
      object-fit: contain; }

  .mobile-menu-hidden {
    transform: translateX(100%) !important;
    -webkit-transform: translateX(100%) !important; }

  .mobile-background-hidden {
    visibility: hidden;
    opacity: 0; }

  .mobile-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 100%;
    height: 9999vh;
    top: 0;
    right: 0;
    z-index: 99999;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    overflow: auto;
    overflow-x: hidden; }

  .mobile-background {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 99998;
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    position: fixed !important; }

  .work-together-wrpapper {
    flex-direction: column;
    align-items: center;
    margin-top: 10px; }
    .work-together-wrpapper .work-together {
      margin-right: 0px;
      margin-bottom: 18px; }
    .work-together-wrpapper .hero-button {
      font-family: sourceSansPro-bold;
      font-size: 13px;
      padding: 13px 33px;
      border: 2px solid #fff; }

  .languages {
    margin: 20px 50px 20px 80px;
    width: 100%;
    max-width: 500px; }
    .languages .selectric-language-select {
      margin-right: 20px; }

  .mobile-wrapper .menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;
    margin-top: 10px; }
    .mobile-wrapper .menu ul:not(.languages ul) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0; }
      .mobile-wrapper .menu ul:not(.languages ul) li {
        max-width: 520px;
        white-space: pre-wrap;
        padding: 0px;
        align-items: center;
        display: flex; }
        .mobile-wrapper .menu ul:not(.languages ul) li a {
          font-family: sourceSansPro-bold;
          font-size: 19px;
          max-width: 520px;
          color: #fff;
          line-height: normal;
          margin-bottom: 30px;
          font-style: normal;
          letter-spacing: normal;
          white-space: pre-wrap;
          text-align: center; }

  .mob-burger .burger {
    height: 60px !important;
    width: 36px;
    z-index: 99999; } }
@media screen and (max-width: 900px) {
  .navbar-header {
    padding-top: 0px; } }
@media screen and (max-width: 900px) {
  .modal-open-special {
    overflow: hidden !important; }

  .mobile-languages-cart {
    margin-bottom: 20px; }

  .navbar-header {
    padding-bottom: 0px; } }
@media screen and (max-width: 500px) {
  .mobile-wrapper .menu ul {
    padding-left: 20px; }
    .mobile-wrapper .menu ul li a {
      font-size: 20px; }
  .mobile-wrapper .language-social-wrapper .languages .selectric {
    max-width: 80px !important;
    text-align: left !important; } }
@media screen and (max-width: 350px) {
  .mobile-wrapper .menu ul li a {
    font-size: 16px; } }
.body-home-class .top-navbar {
  height: 0px; }
  .body-home-class .top-navbar .navbar-header {
    background-color: transparent; }

@media screen and (max-width: 300px) {
  .mobile-wrapper .menu ul:not(.languages ul) {
    padding-left: 0px; }

  .extra-info-mobile {
    padding-left: 10px; } }
.navbar-header .menu ul li {
  position: relative; }

.navbar-header .menu ul li .sub-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  border: 1px solid #fff;
  border-top: none;
  background-color: #fff;
  box-shadow: 0 15px 16px 8pt rgba(0, 0, 0, 0.2);
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  max-width: max-content;
  width: max-content;
  padding: 10px;
  max-height: 0;
  transition: all 0.4s ease-in;
  overflow: hidden;
  opacity: 0;
  max-height: 1000px; }
  .navbar-header .menu ul li .sub-menu li a {
    color: #212121;
    font-size: 16px;
    line-height: 19px; }

.navbar-header .menu ul li {
  overflow-y: hidden;
  transition: all 0.4s ease-in; }

.navbar-header .menu ul li:hover {
  overflow: visible; }

.navbar-header .menu ul li:hover .sub-menu {
  overflow: visible;
  opacity: 1; }

.navbar-header .menu ul li .sub-menu:hover {
  max-height: 1000px; }

.sub-menu {
  background: none repeat scroll 0 0 #fff;
  margin-top: 25px;
  padding: 0 0 0 10px;
  position: absolute;
  width: 125px;
  z-index: 999;
  border: solid #fff 1px;
  margin-left: -24px; }

.sub-menu:after, .sub-menu:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.sub-menu:after {
  border-color: rgba(238, 238, 238, 0);
  border-bottom-color: #fff;
  border-width: 15px;
  margin-left: -15px; }

.sub-menu:before {
  border-color: rgba(204, 204, 204, 0);
  border-bottom-color: #fff;
  border-width: 16px;
  margin-left: -16px; }

.footer .forest-footer {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 250px;
  margin-top: 60px; }
.footer .footer-dark {
  background-color: #1F1F1F;
  padding: 40px 0px; }
.footer .top {
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.09); }
  .footer .top * {
    color: #B2B2B2;
    font-size: 18px;
    line-height: 34px; }
  .footer .top h2 {
    font-family: bitter-semibold;
    color: #fff;
    font-size: 22px;
    margin-block-end: 20px; }
  .footer .top .flex-item-footer {
    width: 100%; }
    .footer .top .flex-item-footer:not(:last-of-type) {
      margin-right: 20px; }
  .footer .top .single-contact-info-footer {
    display: flex;
    align-items: center;
    padding-left: 52px; }
    .footer .top .single-contact-info-footer a {
      line-height: 23px; }
      .footer .top .single-contact-info-footer a:hover {
        color: #fff; }
    .footer .top .single-contact-info-footer:not(:last-of-type) {
      margin-bottom: 30px; }
    .footer .top .single-contact-info-footer .green-wrapper-footer {
      background-color: #00923F;
      padding: 8px;
      left: 0px;
      top: calc(50% - 18px);
      height: 34px;
      width: 34px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .footer .top .single-contact-info-footer .green-wrapper-footer img {
        height: 20px;
        max-width: 20px;
        object-fit: contain; }
  .footer .top .social-icons-footer a:not(:last-of-type) {
    margin-right: 20px; }
.footer .developed-by-wrapper ul {
  padding: 0px; }
.footer .developed-by-wrapper a {
  display: flex; }
.footer .developed-by-wrapper .developer-by-logo {
  margin-left: 10px; }
.footer .bottom {
  padding-top: 40px; }
  .footer .bottom a {
    color: #B2B2B2; }
  .footer .bottom ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 0px; }
    .footer .bottom ul li {
      margin-right: 15px; }
      .footer .bottom ul li a {
        font-size: 16px;
        line-height: 20px; }
        .footer .bottom ul li a:hover {
          color: #fff; }
  .footer .bottom .green-title-footer {
    font-family: bitter-semibold;
    font-size: 28px;
    color: #00923F; }
  .footer .bottom .developer-by-logo img {
    height: 9px;
    width: 70px;
    object-fit: contain; }
@media screen and (max-width: 1190px) and (min-width: 934px) {
  .footer .forest-footer {
    height: 200px; } }
@media screen and (max-width: 933px) and (min-width: 768px) {
  .footer .forest-footer {
    height: 150px; } }
@media screen and (max-width: 767px) and (min-width: 401px) {
  .footer .forest-footer {
    height: 100px; } }
@media screen and (max-width: 400px) {
  .footer .forest-footer {
    height: 80px; } }
@media screen and (max-width: 901px) {
  .footer .column-mobile-footer {
    flex-wrap: wrap; }
    .footer .column-mobile-footer .mr-0 {
      margin-left: 0 !important;
      margin-right: auto !important;
      align-items: start !important; }
  .footer .flex-item-footer {
    margin-bottom: 30px; } }
@media screen and (max-width: 900px) and (min-width: 768px) {
  .footer .column-mobile-footer .w-100:nth-of-type(2n), .footer .column-mobile-footer .w-100:first-of-type {
    width: 45% !important; } }
@media screen and (max-width: 767px) {
  .footer .forest-footer {
    margin-top: 40px; }
  .footer .column-mobile-footer {
    flex-direction: column; }
  .footer .footer-dark {
    padding: 20px 0px; }
  .footer .bottom .green-title-footer {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px; }
  .footer .bottom {
    flex-direction: column;
    padding-top: 30px; }
    .footer .bottom ul {
      padding-left: 0px; }
    .footer .bottom .cookies {
      display: none; }
  .footer .top {
    padding-bottom: 0px; } }
@media screen and (max-width: 460px) {
  .footer .forest-footer {
    height: 70px; } }
@media screen and (max-width: 300px) {
  .footer .forest-footer {
    height: 60px; } }

form .single-input {
  display: flex;
  border: 1px solid #E6E6E6;
  padding: 14px 20px;
  margin-bottom: 30px; }
  form .single-input label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px; }
  form .single-input img {
    width: 16px;
    height: auto;
    max-height: 16px;
    object-fit: contain;
    margin-right: 20px; }
  form .single-input input {
    border: transparent;
    border-left: 1px solid #E9E9E9;
    padding-left: 20px;
    font-size: 18px;
    line-height: 28px;
    color: #383838;
    width: 100%; }
form textarea {
  border: 1px solid #E6E6E6;
  padding: 20px;
  width: 100%;
  font-size: 18px;
  line-height: 28px;
  color: #383838;
  min-height: 175px;
  margin-bottom: 30px; }

.warning-message {
  margin-top: 10px;
  font-family: Poppins-semibold;
  font-size: 16px;
  color: #c72828;
  visibility: hidden;
  opacity: 0;
  transition: all .2s linear; }

.warning-message-visible {
  display: flex !important;
  visibility: visible;
  opacity: 1; }

.warning-validation {
  border: 1px solid #c72828 !important; }
  .warning-validation input::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #c72828 !important; }
  .warning-validation input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #c72828;
    opacity: 1; }
  .warning-validation input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #c72828 !important;
    opacity: 1; }
  .warning-validation input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #c72828 !important; }
  .warning-validation input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #c72828 !important; }
  .warning-validation input::placeholder {
    /* Most modern browsers support this now. */
    color: #c72828 !important; }

.success-submit-wrapper {
  display: none;
  visibility: hidden;
  height: 0px;
  width: 0px; }
  .success-submit-wrapper .success-message {
    font-family: sourceSansPro-semibold;
    font-size: 18px;
    color: #008E00;
    opacity: 0;
    transition: all .2s linear; }

.show-success-message {
  display: flex !important;
  visibility: visible !important;
  height: unset !important;
  width: unset !important; }
  .show-success-message .success-message {
    margin-top: 10px;
    opacity: 1; }

.banner-img {
  width: 100%;
  max-width: 736px;
  height: 455px;
  margin: 0 auto; }
  .banner-img img {
    width: 100%;
    max-width: 736px;
    height: 455px; }

.modal-content {
  width: 100%;
  max-width: 736px;
  height: 455px;
  margin: 0 auto; }

.banner-opened .image-modal-window .modal-cross {
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  background-color: transparent; }
  .banner-opened .image-modal-window .modal-cross img {
    height: 24px;
    width: 24px; }

.action-button {
  height: 80%;
  width: 95%;
  bottom: 0; }
  .action-button a {
    width: 100%;
    height: 100%; }

@media screen and (min-width: 1025px) {
  .gallery-category-wrapper {
    width: 100%;
    max-width: 392px;
    margin-right: 20px;
    margin-bottom: 30px; } }
.sidebar ul {
  padding-left: 0px;
  list-style: none; }
  .sidebar ul li {
    margin-bottom: 20px; }
    .sidebar ul li a {
      padding: 12px 20px;
      background-color: #F2F2F2;
      color: #383838;
      font-size: 18px;
      line-height: 28px;
      text-align: left;
      width: 100%;
      display: flex; }
      .sidebar ul li a:hover {
        background-color: #00923F;
        color: #fff; }
.sidebar .current-menu-item a {
  background-color: #00923F;
  color: #fff; }
@media screen and (max-width: 1024px) {
  .sidebar ul li a {
    justify-content: flex-end !important;
    text-align: right; } }

.order-success-message {
  margin-top: -124px;
  margin-bottom: 30px; }
  .order-success-message h1, .order-success-message h2 {
    font-family: bitter-semibold;
    font-size: 44px;
    line-height: 53px;
    color: #383838;
    margin-bottom: 30px; }
  .order-success-message p {
    color: #383838;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px; }
  .order-success-message .green-rotate-icon-wrapper {
    margin-bottom: 60px; }
    .order-success-message .green-rotate-icon-wrapper .green-rotating-icon {
      height: 147px;
      width: 147px;
      background-color: #00923F;
      transform: rotate(45deg);
      display: flex;
      align-items: center;
      justify-content: center; }
      .order-success-message .green-rotate-icon-wrapper .green-rotating-icon img {
        transform: rotate(-45deg);
        max-width: 90px;
        height: 77px; }
  @media screen and (max-width: 767px) {
    .order-success-message {
      margin-top: -70px; }
      .order-success-message h1, .order-success-message h2 {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 20px; }
      .order-success-message .green-rotate-icon-wrapper {
        margin-bottom: 40px; }
        .order-success-message .green-rotate-icon-wrapper .green-rotating-icon {
          height: 100px;
          width: 100px; }
          .order-success-message .green-rotate-icon-wrapper .green-rotating-icon img {
            max-width: 70px;
            height: 60px; }
      .order-success-message p {
        margin-bottom: 20px; } }

@media screen and (min-width: 1025px) {
  .mob-hide {
    display: none !important; }

  .sidebar-content {
    display: flex !important; } }
@media screen and (max-width: 1024px) {
  .menu-button {
    margin-bottom: 20px;
    padding: 14px 20px; }
    .menu-button span {
      font-family: bitter-semibold;
      font-size: 18px;
      line-height: 22px; }

  .dropdown-icon {
    margin-left: 10px;
    height: 18px;
    width: auto; } }
.gallery-images-wrapper {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px; }
  .gallery-images-wrapper .single-gallery-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto; }
  @media screen and (min-width: 601px) {
    .gallery-images-wrapper .single-gallery-image:nth-of-type(4) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 4; }
    .gallery-images-wrapper .single-gallery-image:nth-of-type(8) {
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 4;
      grid-row-end: 4;
      height: 100%;
      max-height: 230px; }
    .gallery-images-wrapper .single-gallery-image:nth-of-type(7) {
      max-height: 230px; } }

@media screen and (max-width: 1024px) {
  .d-flex-wrapper-gallery {
    flex-direction: column; } }
@media screen and (max-width: 600px) {
  .gallery-images-wrapper {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 20px; }
    .gallery-images-wrapper .single-gallery-image:nth-last-of-type(1) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 4; }
    .gallery-images-wrapper .single-gallery-image:nth-last-of-type(2) {
      grid-column-start: 1;
      grid-column-end: 3; } }
@media screen and (max-width: 450px) {
  .gallery-images-wrapper {
    display: flex;
    flex-direction: column;
    grid-gap: 0px; }
    .gallery-images-wrapper .single-gallery-image {
      margin-bottom: 20px; }
      .gallery-images-wrapper .single-gallery-image img {
        max-height: 350px; } }
.small-gallery .single-gallery-image:nth-of-type(4) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2; }
.small-gallery .single-gallery-image:nth-of-type(8) {
  max-height: unset; }
.small-gallery .single-gallery-image:nth-of-type(7) {
  max-height: unset; }

.pagination .page-link {
  color: #383838;
  margin: 0 5px;
  font-family: sourceSansPro-regular;
  font-size: 18px;
  line-height: 23px; }
.pagination .page-item:first-of-type .page-link, .pagination .page-item:last-of-type .page-link {
  background: #00923F;
  color: #fff; }
.pagination .page-link {
  border-radius: 0px;
  position: relative;
  height: 100%;
  width: 46px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .pagination .page-link span svg {
    margin-top: -3px; }

/* Pages */
/* LANDING */
.hero-wrapper .hero-title {
  font-size: 64px;
  line-height: 74px;
  margin-bottom: 20px; }
.hero-wrapper * {
  color: #fff !important; }

.top-semiopacity {
  margin-top: 205px;
  margin-bottom: 290px; }
  .top-semiopacity p {
    font-family: sourceSansPro-regular;
    font-size: 28px;
    line-height: 36px;
    color: #fff; }

.semiopacity-main-wrapper {
  margin-bottom: 42px;
  min-height: 745px; }
  .semiopacity-main-wrapper .semiopacity-image {
    min-height: 745px;
    z-index: -1;
    overflow: hidden; }
    .semiopacity-main-wrapper .semiopacity-image img {
      z-index: -1; }
    .semiopacity-main-wrapper .semiopacity-image .semiopacity-layer {
      z-index: -1;
      background-color: rgba(10, 69, 35, 0); }
    .semiopacity-main-wrapper .semiopacity-image .top-semiopacity h1 {
      color: #fff; }
    .semiopacity-main-wrapper .semiopacity-image .top-semiopacity p {
      color: #000; }
  .semiopacity-main-wrapper .fly-over-wrapper {
    z-index: 3;
    margin-top: -200px;
    min-height: 390px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%; }
    .semiopacity-main-wrapper .fly-over-wrapper img, .semiopacity-main-wrapper .fly-over-wrapper h2 {
      margin-bottom: 40px; }
    .semiopacity-main-wrapper .fly-over-wrapper img {
      height: 123px;
      width: 100%;
      max-width: 180px;
      object-fit: contain; }
    .semiopacity-main-wrapper .fly-over-wrapper h2 {
      font-family: bitter-semibold;
      color: #fff;
      font-size: 44px;
      line-height: 53px; }
    .semiopacity-main-wrapper .fly-over-wrapper .single-side {
      padding: 40px 20px; }
      .semiopacity-main-wrapper .fly-over-wrapper .single-side:first-of-type {
        border-right: 1px solid rgba(0, 145, 63, 0.3); }
  @media screen and (max-width: 1024px) {
    .semiopacity-main-wrapper {
      margin-bottom: 35px; } }
  @media screen and (max-width: 767px) {
    .semiopacity-main-wrapper {
      margin-bottom: 20px; } }

.slick-prev, .slick-next {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  width: 46px;
  background-color: #00923F; }
  .slick-prev:before, .slick-next:before {
    content: none; }
  .slick-prev:hover, .slick-next:hover {
    background-color: #00923F; }
    .slick-prev:hover svg, .slick-next:hover svg {
      fill: #B2B2B2; }

.slick-initialized .slick-slide {
  padding: 0px 10px; }

.slick-prev {
  margin-left: -39px; }

.slick-next {
  margin-right: -39px; }

@media screen and (max-width: 1400px) and (min-width: 767px) {
  .slick-prev {
    margin-left: -10px; }

  .slick-next {
    margin-right: -10px; }

  .background-image-slider {
    padding: 0px 50px; } }
@media screen and (max-width: 901px) {
  .hero-wrapper .hero-title {
    font-size: 40px;
    line-height: 54px; }

  .top-semiopacity {
    margin-top: 125px;
    margin-bottom: 240px; }
    .top-semiopacity p {
      font-size: 25px;
      line-height: 33px; }

  .semiopacity-main-wrapper .semiopacity-image, .semiopacity-main-wrapper {
    min-height: unset; }

  .semiopacity-main-wrapper .fly-over-wrapper img {
    height: 84px;
    max-width: 150px; }

  .semiopacity-main-wrapper .fly-over-wrapper {
    min-height: unset; }
    .semiopacity-main-wrapper .fly-over-wrapper .single-side {
      padding: 30px 20px; }
    .semiopacity-main-wrapper .fly-over-wrapper h2 {
      margin-bottom: 20px;
      font-size: 34px;
      line-height: 41px; } }
@media screen and (max-width: 767px) {
  .hero-wrapper .hero-title {
    font-size: 28px;
    line-height: 32px; }

  .top-semiopacity p {
    font-size: 16px;
    line-height: 20px; }

  .semiopacity-main-wrapper .fly-over-wrapper {
    flex-direction: column;
    background-repeat: repeat;
    padding: 0px; }
    .semiopacity-main-wrapper .fly-over-wrapper .single-side:first-of-type {
      border-right: none;
      border-bottom: 1px solid rgba(0, 145, 63, 0.3); } }
.page-content {
  margin-bottom: 50px; }
  .page-content .semiopacity-main-wrapper {
    min-height: auto;
    margin-bottom: 50px; }
    .page-content .semiopacity-main-wrapper .semiopacity-image {
      min-height: 489px; }
  .page-content .top-semiopacity {
    margin-bottom: 50px; }
  @media screen and (max-width: 901px) {
    .page-content {
      margin-bottom: 30px; }
      .page-content .semiopacity-main-wrapper .semiopacity-image, .page-content .semiopacity-main-wrapper {
        min-height: 300px; } }
  @media screen and (max-width: 767px) {
    .page-content {
      margin-bottom: 20px; }
      .page-content .semiopacity-main-wrapper {
        margin-bottom: 20px; } }

@media screen and (max-width: 767px) {
  .multiple-items .slick-track {
    margin-left: 50px; } }
@media screen and (max-width: 767px) {
  .multiple-items .slick-track {
    margin-left: 30px; } }
.background-image-slider {
  height: 857px;
  margin-top: -195px;
  padding-top: calc(195px + 52px); }

.single-slider-element {
  border: 1px solid #F4F4F4;
  overflow: hidden; }
  .single-slider-element img {
    width: 100%;
    height: 100%;
    max-height: 288px; }

.border-for-slick {
  border: 1px solid #F4F4F4; }

.absolute-cover-img, .darkness-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s; }

.text-wrapper {
  padding: 30px 30px 17px 30px;
  background-color: #fff;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s; }
  .text-wrapper .date {
    color: rgba(56, 56, 56, 0.54);
    font-size: 18px;
    margin-bottom: 12px;
    -moz-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s; }
  .text-wrapper h2 {
    font-family: bitter-semibold;
    font-size: 24px;
    color: #383838;
    max-width: 220px;
    margin-bottom: 10px; }
  .text-wrapper .read-more {
    color: #00923F;
    font-size: 18px;
    font-family: sourceSansPro-bold;
    display: flex;
    align-items: center;
    -moz-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s; }
    .text-wrapper .read-more svg {
      margin-left: 20px;
      fill: #00923F;
      -moz-transition: all linear 0.2s;
      -o-transition: all linear 0.2s;
      -webkit-transition: all linear 0.2s;
      transition: all linear 0.2s; }

.border-for-slick:hover {
  width: 100%;
  max-width: 500px; }
  .border-for-slick:hover .text-wrapper {
    background-color: #00923F; }
  .border-for-slick:hover .date, .border-for-slick:hover h2, .border-for-slick:hover .read-more, .border-for-slick:hover .read-more svg {
    color: #fff;
    fill: #fff; }

@media screen and (max-width: 767px) {
  .text-wrapper {
    padding: 20px 20px 30px 20px; }
    .text-wrapper .date {
      font-size: 13px;
      line-height: 17px;
      margin-bottom: 12px; }
    .text-wrapper h2 {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 16px; }
    .text-wrapper .read-more {
      font-size: 13px;
      line-height: 17px; } }
@media screen and (max-width: 767px) {
  .api-container {
    flex-direction: column; } }

/* LANDING END */
.background-image-slider {
  height: 857px;
  margin-top: -195px;
  padding-top: calc(195px + 52px); }

.single-slider-element {
  border: 1px solid #F4F4F4;
  overflow: hidden; }
  .single-slider-element img {
    width: 100%;
    height: 100%;
    max-height: 288px; }

.border-for-slick {
  border: 1px solid #F4F4F4; }

.absolute-cover-img, .darkness-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s; }

.text-wrapper {
  padding: 30px 30px 17px 30px;
  background-color: #fff;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s; }
  .text-wrapper .date {
    color: rgba(56, 56, 56, 0.54);
    font-size: 18px;
    margin-bottom: 12px;
    -moz-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s; }
  .text-wrapper h2 {
    font-family: bitter-semibold;
    font-size: 24px;
    color: #383838;
    max-width: 220px;
    margin-bottom: 10px; }
  .text-wrapper .read-more {
    color: #00923F;
    font-size: 18px;
    font-family: sourceSansPro-bold;
    display: flex;
    align-items: center;
    -moz-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s; }
    .text-wrapper .read-more svg {
      margin-left: 20px;
      fill: #00923F;
      -moz-transition: all linear 0.2s;
      -o-transition: all linear 0.2s;
      -webkit-transition: all linear 0.2s;
      transition: all linear 0.2s; }

.border-for-slick:hover {
  width: 100%;
  max-width: 500px; }
  .border-for-slick:hover .text-wrapper {
    background-color: #00923F; }
  .border-for-slick:hover .date, .border-for-slick:hover h2, .border-for-slick:hover .read-more, .border-for-slick:hover .read-more svg {
    color: #fff;
    fill: #fff; }

.img-wrapper-wysiwyg {
  margin-bottom: 50px; }
  .img-wrapper-wysiwyg img {
    margin-bottom: 0px; }
  .img-wrapper-wysiwyg .image-author {
    font-family: sourceSansPro-regular;
    bottom: 33px;
    left: 30px;
    font-size: 25px;
    color: #fff; }

@media screen and (max-width: 767px) {
  .text-wrapper {
    padding: 20px 20px 30px 20px; }
    .text-wrapper .date {
      font-size: 13px;
      line-height: 17px;
      margin-bottom: 12px; }
    .text-wrapper h2 {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 16px; }
    .text-wrapper .read-more {
      font-size: 13px;
      line-height: 17px; }

  .img-wrapper-wysiwyg {
    margin-bottom: 30px; }
    .img-wrapper-wysiwyg .image-author {
      bottom: 20px;
      left: 20px;
      font-size: 18px; } }
.news-grid {
  margin-bottom: 30px; }
  .news-grid .border-for-slick {
    border: none; }
  @media screen and (min-width: 901px) {
    .news-grid .border-for-slick {
      width: calc((100% - 60px) / 3.001);
      margin: 0 20px 20px 0 !important; }
      .news-grid .border-for-slick:nth-of-type(3n) {
        margin: 0 0px 20px 0px !important; } }
  @media screen and (max-width: 900px) and (min-width: 551px) {
    .news-grid .border-for-slick {
      width: calc((100% - 40px) / 2.001);
      margin: 0 20px 20px 0 !important; }
      .news-grid .border-for-slick:nth-of-type(2n) {
        margin: 0 0px 20px 0px !important; } }
  @media screen and (max-width: 550px) {
    .news-grid .border-for-slick {
      width: 100%;
      margin: 0 0 20px 0 !important; } }

.partners .partners-wrapper .single-partner-element {
  background-color: #F4F7F8;
  border: solid 1px #EFEFEF;
  padding: 9px 20px 20px 20px; }
  @media screen and (min-width: 1025px) {
    .partners .partners-wrapper .single-partner-element {
      width: calc((100% - 60px) / 4);
      margin: 0px 20px 20px 0px; }
      .partners .partners-wrapper .single-partner-element:nth-of-type(4n) {
        margin: 0px 0px 20px 0px; } }
  @media screen and (max-width: 1024px) and (min-width: 768px) {
    .partners .partners-wrapper .single-partner-element {
      width: calc((100% - 40px) / 3);
      margin: 0px 20px 20px 0px; }
      .partners .partners-wrapper .single-partner-element:nth-of-type(3n) {
        margin: 0px 0px 20px 0px; } }
  @media screen and (max-width: 767px) and (min-width: 601px) {
    .partners .partners-wrapper .single-partner-element {
      width: calc((100% - 20px) / 2);
      margin: 0px 20px 20px 0px; }
      .partners .partners-wrapper .single-partner-element:nth-of-type(2n) {
        margin: 0px 0px 20px 0px; } }
  @media screen and (max-width: 600px) {
    .partners .partners-wrapper .single-partner-element {
      width: 100%;
      margin: 0px 0px 20px 0px; } }
  .partners .partners-wrapper .single-partner-element .logo-wrapper {
    margin-bottom: 20px; }
  .partners .partners-wrapper .single-partner-element .partners-logo {
    width: auto;
    height: 50px;
    object-fit: contain;
    margin-right: auto; }
  .partners .partners-wrapper .single-partner-element .title-partners {
    font-size: 18px;
    line-height: 23px;
    font-family: bitter-semibold;
    color: #383838;
    margin-bottom: 10px; }
  .partners .partners-wrapper .single-partner-element .address-partners-card, .partners .partners-wrapper .single-partner-element .tel-partners-card {
    font-size: 17px;
    line-height: 22px;
    font-family: sourceSansPro-regular;
    color: #383838; }
.partners .partners-wrapper .green-line {
  width: 20px;
  height: 2px;
  background-color: #00923F;
  margin-top: 15px; }
.partners .partners-wrapper .address-partners-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 44px;
  overflow: hidden;
  margin-bottom: 10px; }

.contacts .contact-us-info {
  margin-bottom: 30px; }
  .contacts .contact-us-info .single-contact-element {
    border: 1px solid #EDEDED;
    padding: 30px;
    background-color: #fff;
    -moz-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s; }
    @media screen and (min-width: 1025px) {
      .contacts .contact-us-info .single-contact-element {
        width: calc((100% - 60px) / 4);
        margin: 0px 20px 20px 0px; }
        .contacts .contact-us-info .single-contact-element:nth-of-type(4n) {
          margin: 0px 0px 20px 0px !important; } }
    @media screen and (max-width: 1024px) and (min-width: 601px) {
      .contacts .contact-us-info .single-contact-element {
        width: calc((100% - 20px) / 2);
        margin: 0px 20px 20px 0px; }
        .contacts .contact-us-info .single-contact-element:nth-of-type(2n) {
          margin: 0px 0px 20px 0px !important; } }
    @media screen and (max-width: 600px) {
      .contacts .contact-us-info .single-contact-element {
        width: 100%;
        margin: 0px 0px 20px 0px; } }
    .contacts .contact-us-info .single-contact-element .logo-wrapper {
      margin-bottom: 30px; }
      .contacts .contact-us-info .single-contact-element .logo-wrapper .contacts-logo {
        margin-right: auto;
        height: 32px;
        width: auto;
        object-fit: contain; }
    .contacts .contact-us-info .single-contact-element h2 {
      font-size: 20px;
      line-height: 24px;
      font-family: bitter-semibold;
      color: #383838;
      margin-bottom: 20px; }
    .contacts .contact-us-info .single-contact-element p {
      font-size: 16px;
      line-height: 29px;
      font-family: sourceSansPro-regular;
      color: #383838;
      margin-bottom: 12px; }
      .contacts .contact-us-info .single-contact-element p strong {
        font-family: sourceSansPro-bold; }
    .contacts .contact-us-info .single-contact-element .padding-r-10 p {
      margin-right: 10px; }
    .contacts .contact-us-info .single-contact-element .number {
      -moz-transition: all linear 0.2s;
      -o-transition: all linear 0.2s;
      -webkit-transition: all linear 0.2s;
      transition: all linear 0.2s;
      position: relative; }
      .contacts .contact-us-info .single-contact-element .number:after {
        left: 0;
        background-color: #383838; }
      .contacts .contact-us-info .single-contact-element .number:before, .contacts .contact-us-info .single-contact-element .number:after {
        content: "";
        position: absolute;
        bottom: 0px;
        width: 0;
        height: 1px;
        margin: 5px 0 0;
        transition: all 0.4s ease-in-out;
        opacity: 0;
        backface-visibility: hidden; }
  .contacts .contact-us-info a:hover .number:before, .contacts .contact-us-info a:hover .number:after {
    width: 100%;
    opacity: 1; }
.contacts .contacts-image {
  margin-bottom: 50px; }
  .contacts .contacts-image img {
    width: 100%;
    height: 428px;
    object-fit: cover; }
.contacts .map-container {
  margin-bottom: 50px; }
  .contacts .map-container #map {
    width: 100%;
    height: 493px; }
.contacts .map-nav-buttons {
  bottom: 20px;
  left: calc(50% - 610px); }
  .contacts .map-nav-buttons a {
    background-color: #fff;
    padding: 14px 20px; }
    .contacts .map-nav-buttons a:not(.contacts .map-nav-buttons a:last-of-type) {
      margin-right: 20px; }
    .contacts .map-nav-buttons a img {
      width: 100%;
      height: 26px;
      object-fit: contain; }
.contacts .form-wrapper {
  margin-bottom: 65px; }
.contacts .form-contacts {
  margin-right: 50px; }
.contacts .form-contacts-paragraph {
  padding: 40px;
  border: 1px solid #F2F2F2; }
  .contacts .form-contacts-paragraph p {
    font-size: 18px;
    line-height: 36px;
    font-family: sourceSansPro-regular;
    color: #383838; }
@media screen and (max-width: 1240px) {
  .contacts .map-nav-buttons {
    left: 20px; } }
@media screen and (max-width: 1024px) {
  .contacts .contact-us-info {
    margin-bottom: 10px; }
  .contacts .contacts-image, .contacts .contact-us-info, .contacts .map-container {
    margin-bottom: 30px; }
  .contacts .form-contacts {
    margin-right: 20px; }
  .contacts .form-contacts-paragraph {
    padding: 20px; } }
@media screen and (max-width: 900px) {
  .contacts .contacts-image img {
    height: 400px; }
  .contacts .form-wrapper {
    flex-direction: column;
    margin-bottom: 40px; }
  .contacts .form-contacts {
    margin-bottom: 30px; }
  .contacts .map-container #map {
    height: 400px; } }
@media screen and (max-width: 600px) {
  .contacts .map-container #map, .contacts .contacts-image img {
    height: 300px; }
  .contacts .map-nav-buttons a {
    padding: 10px 15px; }
    .contacts .map-nav-buttons a img {
      height: 15px; }
  .contacts .form-contacts form .single-input {
    padding: 10px;
    margin-bottom: 20px; }
  .contacts .form-contacts form textarea {
    padding: 10px;
    margin-bottom: 20px; }
  .contacts .contact-us-info .single-contact-element {
    padding: 20px; } }

.about-us .page-content {
  margin-bottom: 0px; }
.about-us .wysiwyg-style > p {
  color: #383838;
  font-family: sourceSansPro-regular;
  font-size: 20px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 34px;
  margin-bottom: 20px; }
  .about-us .wysiwyg-style > p:last-of-type {
    margin-bottom: 20px; }
  @media screen and (max-width: 767px) {
    .about-us .wysiwyg-style > p {
      margin-bottom: 25px; } }
  .about-us .wysiwyg-style > p strong {
    font-family: sourceSansPro-regular;
    font-size: 26px;
    line-height: 37px; }
.about-us .wysiwyg-style > ul li {
  font-family: sourceSansPro-regular;
  color: #383838;
  font-size: 20px;
  line-height: 36px;
  display: table;
  position: relative;
  padding-left: 21px;
  background-size: 5px;
  background-position: 1px 17px; }
  .about-us .wysiwyg-style > ul li stron, .about-us .wysiwyg-style > ul li a {
    font-family: sourceSansPro-bold; }
.about-us .wysiwyg-style > h2, .about-us .wysiwyg-style > h3 {
  color: #00923F;
  transition: all .2s linear; }
  .about-us .wysiwyg-style > h2 > h2, .about-us .wysiwyg-style > h3 > h2 {
    color: #00923F; }
  .about-us .wysiwyg-style > h2 > h3, .about-us .wysiwyg-style > h3 > h3 {
    color: #00923F; }

.white-container, .grey-container {
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden; }

.grey-container {
  background-color: #F8F8F8; }

@media screen and (max-width: 767px) {
  .white-container, .grey-container {
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden; } }
.assortment {
  margin-bottom: 60px; }
  .assortment .top-title-wrapper {
    margin-bottom: 20px; }
    .assortment .top-title-wrapper .main-title-h2 {
      margin-right: 20px; }
    .assortment .top-title-wrapper p {
      font-size: 20px;
      line-height: 25px; }
  .assortment .top-wrapper p {
    font-size: 20px;
    line-height: 25px; }
  .assortment .top-wrapper .grey-container-assortment {
    background-color: #F8F8F8;
    padding: 30px;
    margin: 25px 0px 20px 0px; }
    .assortment .top-wrapper .grey-container-assortment p {
      line-height: 34px; }
      .assortment .top-wrapper .grey-container-assortment p a {
        position: relative;
        color: #00923F;
        font-family: sourceSansPro-semibold; }
        .assortment .top-wrapper .grey-container-assortment p a:hover:before, .assortment .top-wrapper .grey-container-assortment p a:hover:after {
          width: 100%;
          opacity: 1; }
        .assortment .top-wrapper .grey-container-assortment p a:after {
          left: 0;
          background-color: #00923F; }
        .assortment .top-wrapper .grey-container-assortment p a:before, .assortment .top-wrapper .grey-container-assortment p a:after {
          content: "";
          position: absolute;
          bottom: 0px;
          width: 0;
          height: 1px;
          margin: 5px 0 0;
          transition: all 0.4s ease-in-out;
          opacity: 0;
          backface-visibility: hidden; }
  .assortment .top-wrapper .border-bottom {
    padding-bottom: 30px;
    margin-bottom: 30px; }
  .assortment .top-wrapper .excel-download p {
    font-size: 18px;
    margin-right: 20px; }
  .assortment .top-wrapper .excel-download a img {
    height: 34px;
    width: 34px;
    object-fit: contain; }
  .assortment .table-filtration {
    margin-bottom: 20px; }
  .assortment .abc-wrapper {
    width: 100%;
    max-width: 430px; }
    .assortment .abc-wrapper a {
      font-family: sourceSansPro-semibold;
      font-size: 18px;
      padding: 5px;
      height: 32px;
      width: 31px;
      margin: 1px;
      text-align: center;
      background-color: #00923F;
      border: 2px solid #00923F;
      color: #fff; }
      .assortment .abc-wrapper a:hover {
        background-color: #fff;
        border: 2px solid #00923F;
        color: #00923F; }
  .assortment .search-window-wrapper .search-window {
    height: 40px; }
  .assortment .search-window-wrapper .checkbox-single {
    margin-right: 20px;
    margin-bottom: 0px; }
  .assortment .search-window-wrapper input {
    font-size: 18px;
    padding: 10px;
    border: 1px solid #E2E2E2; }

.assortment-table, .pagination-wrapper {
  margin-bottom: 50px; }

@media screen and (max-width: 767px) {
  .assortment .top-title-wrapper .main-title-h2 {
    margin-bottom: 20px;
    margin-right: 0px; }
  .assortment .top-wrapper .grey-container-assortment {
    padding: 20px;
    margin: 20px 0px 20px 0px; }
  .assortment .top-title-wrapper, .assortment .table-filtration {
    flex-direction: column; }
  .assortment .table-filtration .abc-wrapper {
    margin-bottom: 20px; }
  .assortment .assortment-table, .assortment .pagination-wrapper {
    margin-bottom: 30px; }
  .assortment .flex-wrap-mobile {
    flex-wrap: wrap; }
    .assortment .flex-wrap-mobile .checkbox-single {
      margin-left: 0px;
      margin-bottom: 15px; }
  .assortment .excel-download {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .assortment .top-wrapper .border-bottom {
    padding-bottom: 20px;
    margin-bottom: 20px; } }
@media screen and (max-width: 300px) {
  .assortment .search-window-wrapper .search-window {
    height: unset;
    flex-direction: column;
    width: 100%; }
    .assortment .search-window-wrapper .search-window input {
      margin-bottom: 20px;
      width: 100%;
      max-width: 100%; }
    .assortment .search-window-wrapper .search-window a {
      margin-left: 0px;
      width: 100%; } }

.assortment-table {
  font-size: 18px;
  color: #383838; }
  .assortment-table th {
    background-color: #00923F;
    color: #fff;
    text-align: center;
    padding: 17px 10px;
    font-weight: normal; }
    .assortment-table th:not(.assortment-table th:last-of-type) {
      border-right: 1px solid rgba(238, 238, 238, 0.08); }
  .assortment-table tr, .assortment-table td {
    border: 1px solid #EDEDED;
    padding: 20px 0px; }
  .assortment-table tr th:first-of-type {
    text-align: center;
    width: 70px; }
  .assortment-table tr th:nth-of-type(2) {
    width: 303px;
    min-width: 303px;
    max-width: 303px; }
  .assortment-table tr th:nth-of-type(3) {
    width: 120px;
    min-width: 120px;
    max-width: 120px; }
  .assortment-table tr th:nth-of-type(4) {
    width: 175px;
    min-width: 175px;
    max-width: 175px; }
  .assortment-table tr th:nth-of-type(5) {
    width: 123px;
    min-width: 123px;
    max-width: 123px; }
  .assortment-table tr th:nth-of-type(6) {
    width: 127px;
    min-width: 127px;
    max-width: 127px; }
  .assortment-table tr th:nth-of-type(7) {
    width: 147px;
    min-width: 147px;
    max-width: 147px; }
  td:not(.assortment-table tr:nth-of-type(2)) {
    text-align: center; }
  .assortment-table .margin-table {
    padding: 14px 10px; }
  .assortment-table .margin-table-inputs {
    padding: 3px 5px; }
    .assortment-table .margin-table-inputs input {
      width: 100%;
      max-width: 127px; }
  .assortment-table .black-line-more-pic {
    background-color: rgba(10, 10, 10, 0.72);
    color: #fff;
    font-size: 14px;
    text-align: center;
    width: 100%;
    bottom: 0px;
    min-height: 24px; }
  .assortment-table .new {
    font-family: sourceSansPro-semibold;
    color: #DE2828;
    font-size: 20px;
    margin-bottom: 9px; }
  .assortment-table .less-than-10 {
    background-color: #DDC796; }
  .assortment-table .amount-10-30 {
    background-color: #FAF8DC; }

.table-image-wrapper {
  height: 91px;
  min-width: 129px;
  width: 129px;
  overflow: hidden;
  margin-right: 20px; }
  .table-image-wrapper img {
    max-width: 129px;
    height: 91px; }

.margin-r-20 {
  margin-right: 20px; }

.extra-information .title-descriptions {
  margin-bottom: 30px;
  font-family: bitter-semibold; }
  .extra-information .title-descriptions img {
    margin-right: 20px; }
.extra-information .table-description-wrapper .single-element-table-description {
  display: flex;
  align-items: center;
  margin-bottom: 20px; }
  .extra-information .table-description-wrapper .single-element-table-description .new-icon {
    margin-right: 15px; }
    .extra-information .table-description-wrapper .single-element-table-description .new-icon img {
      height: 21px;
      object-fit: contain; }
  .extra-information .table-description-wrapper .single-element-table-description .bold {
    font-family: sourceSansPro-bold; }
.extra-information .table-description-wrapper .less-than-10 {
  background-color: #DDC796;
  height: 25px;
  width: 25px; }
.extra-information .table-description-wrapper .amount-10-30 {
  background-color: #FAF8DC;
  height: 25px;
  width: 25px; }

@media screen and (max-width: 1180px) {
  .assortment-table {
    font-size: 16px; }
    .assortment-table tr, .assortment-table td {
      padding: 10px 0px; }
    .assortment-table tr th:first-of-type {
      width: 40px; }
    .assortment-table tr td:nth-of-type(2) .table-image-wrapper {
      margin: 0 auto 15px auto; }
    .assortment-table tr td:nth-of-type(2) .d-flex:first-of-type {
      flex-direction: column;
      text-align: center !important;
      padding: 0px 10px; }
    .assortment-table tr th:nth-of-type(2) {
      width: 150px;
      min-width: 150px;
      max-width: 150px; }
    .assortment-table tr th:nth-of-type(3) {
      width: 110px;
      min-width: 110px;
      max-width: 110px; }
    .assortment-table tr th:nth-of-type(4) {
      width: 120px;
      min-width: 120px;
      max-width: 120px; }
    .assortment-table tr th:nth-of-type(5) {
      width: 80px;
      min-width: 80px;
      max-width: 80px; }
    .assortment-table tr th:nth-of-type(6) {
      width: 80px;
      min-width: 80px;
      max-width: 80px; }
    .assortment-table tr th:nth-of-type(7) {
      width: 177px;
      min-width: 177px;
      max-width: 177px; }
    td:not(.assortment-table tr:nth-of-type(2)) {
      text-align: center; } }

@media screen and (max-width: 600px) {
  .table-description-wrapper {
    flex-direction: column; } }
.basket .main-title-h2 {
  margin-bottom: 20px; }
.basket .inline-group {
  max-width: 100px;
  margin: 0 auto; }
.basket .inline-group .form-control {
  text-align: right; }
.basket .form-control[type="number"]::-webkit-inner-spin-button,
.basket .form-control[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }
.basket .number-input input:focus {
  box-shadow: none;
  border: none; }
.basket .number-input input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  background-color: #EBEBEB;
  text-align: center;
  padding: 1px;
  border: none; }
.basket .number-input input[type=number]::-webkit-inner-spin-button,
.basket .number-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  background-color: #EBEBEB;
  text-align: center;
  padding: 1px;
  border: none; }
.basket .btn-plus, .basket .btn-minus {
  background-color: transparent;
  font-weight: bold;
  font-size: 20px; }
.basket .table-wrapper-basket {
  margin-bottom: 30px;
  border-bottom: 1px solid #EDEDED; }
.basket table .delete-item-from-basket {
  margin-right: 15px; }
.basket table tr th {
  border-top: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
  font-size: 16px;
  font-weight: normal;
  padding: 10px;
  min-width: 150px; }
  .basket table tr th:nth-of-type(1) {
    width: 368px; }
  .basket table tr th:nth-of-type(2) {
    width: 80px !important; }
.basket table tr td {
  border-bottom: 1px solid #EDEDED;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px; }
.basket .grey-total-container {
  background-color: #F0F0F0;
  padding: 14px; }
  .basket .grey-total-container div {
    font-size: 18px;
    line-height: 25px;
    font-family: sourceSansPro-semibold;
    margin-right: 20px; }
    .basket .grey-total-container div span {
      color: #00923F; }
.basket form .single-input {
  background-color: #fff; }
  .basket form .single-input input {
    border: none !important;
    padding: 0px; }
.basket form .single-input {
  padding: 9px 20px; }
.basket .legal-person-radio .checkbox-single .checkbox-back .checkbox-mark {
  opacity: 1;
  background-color: #fff; }
.basket .legal-person-radio .checkbox-single .checkbox-back {
  min-width: 100% !important;
  height: 50px !important;
  font-family: sourceSansPro-regular !important; }
.basket .legal-person-radio .checkbox-single {
  margin-left: 0px; }
  .basket .legal-person-radio .checkbox-single:last-of-type {
    margin-left: 20px; }
  .basket .legal-person-radio .checkbox-single .checkbox-back {
    margin-right: 0px; }
    .basket .legal-person-radio .checkbox-single .checkbox-back .checkbox-mark {
      background: #fff !important;
      opacity: 1; }
      .basket .legal-person-radio .checkbox-single .checkbox-back .checkbox-mark .checkbox-title {
        font-family: sourceSansPro-regular; }
  .basket .legal-person-radio .checkbox-single input {
    left: -9999px; }
    .basket .legal-person-radio .checkbox-single input:checked ~ .checkbox-label .checkbox-back {
      border: transparent !important; }
      .basket .legal-person-radio .checkbox-single input:checked ~ .checkbox-label .checkbox-back .checkbox-mark {
        opacity: 1;
        background: #00923F !important; }
        .basket .legal-person-radio .checkbox-single input:checked ~ .checkbox-label .checkbox-back .checkbox-mark .checkbox-title {
          color: #fff !important;
          font-family: sourceSansPro-semibold; }
.basket .checkbox-single {
  margin-left: 0px; }
.basket form textarea {
  min-height: 190px; }
.basket .spec-order-form-wrapper {
  max-width: 934px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto; }
  .basket .spec-order-form-wrapper h2 {
    font-size: 24px;
    margin-bottom: 30px; }
.basket .left-form-part {
  margin-right: 35px; }
@media screen and (max-width: 780px) {
  .basket .grey-total-container {
    flex-direction: column;
    align-items: flex-end; } }
@media screen and (max-width: 767px) {
  .basket .spec-order-form-wrapper {
    flex-direction: column; }
  .basket .spec-order-form-wrapper h2 {
    font-size: 20px; } }
@media screen and (max-width: 600px) {
  .basket form .single-input {
    padding: 10px;
    margin-bottom: 20px; } }

/*# sourceMappingURL=style.css.map */
