.partners {


  //  cards
  .partners-wrapper {
    .single-partner-element {
      @media screen and (min-width: 1025px) {
        width: calc((100% - 60px) / 4);
        margin: 0px 20px 20px 0px;
        &:nth-of-type(4n) {
          margin: 0px 0px 20px 0px;
        }
      }
      @media screen and (max-width: 1024px) and (min-width: 768px)  {
          width: calc((100% - 40px) / 3);
          margin: 0px 20px 20px 0px;
          &:nth-of-type(3n) {
            margin: 0px 0px 20px 0px;
          }
      }
      @media screen and (max-width: 767px) and (min-width: 601px) {
          width: calc((100% - 20px) / 2);
          margin: 0px 20px 20px 0px;
          &:nth-of-type(2n) {
            margin: 0px 0px 20px 0px;
          }
      }
      @media screen and (max-width: 600px) {
          width: 100%;
          margin: 0px 0px 20px 0px;
      }


      //  cards END

      //  design part
      background-color: #F4F7F8;
      border: solid 1px #EFEFEF;
      //  design part END
      padding: 9px 20px 20px 20px;

      .logo-wrapper{
        margin-bottom: 20px;
      }

      .partners-logo {
        width: auto;
        height: 50px;
        object-fit: contain;
        margin-right: auto;
      }

      .title-partners {
        font-size: 18px;
        line-height: 23px;
        font-family: bitter-semibold;
        color: #383838;
        margin-bottom: 10px;
      }
      .address-partners-card, .tel-partners-card{
        font-size: 17px;
        line-height: 22px;
        font-family: sourceSansPro-regular;
        color: #383838;
      }
    }
    .green-line{
      width: 20px;
      height: 2px;
      background-color: #00923F;
      margin-top: 15px;
    }
    .address-partners-wrapper{
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 44px;
      overflow: hidden;
      margin-bottom: 10px;
    }
  }

}